In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pd.set_option('display.max_rows', 1000)

In [4]:
# path = './data/최종작업파일'
# all_files = glob.glob(path + "/*.csv")
# ls = []
# for filename in all_files:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     ls.append(df)
# total_menu = pd.concat(ls, axis=0, ignore_index=True)
# total_menu

In [5]:
total_bicycle = pd.read_csv('data/최종작업파일/total_bicycle.csv', encoding = 'utf-8')
total_bicycle

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,2017-01-01,0,230,영등포구청역 1번출구,정기,F,~10대,1,31.27,0.39,1.68,155,2017,1
1,2017-01-01,0,315,신한은행 안국역지점 옆,정기,F,20대,1,47.32,0.55,2.39,15,2017,1
2,2017-01-01,0,328,탑골공원 앞,정기,F,20대,1,57.92,0.52,2.25,13,2017,1
3,2017-01-01,0,175,홍연2교옆,정기,F,20대,1,133.29,1.53,6.60,43,2017,1
4,2017-01-01,0,817,삼각지역 4번출구 앞,정기,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42049933,2020-12-31,23,3121,3121.가좌삼거리,일일권,M,30대,1,0.00,0.00,0.00,13,2020,12
42049934,2020-12-31,23,560,560. 비전교회 앞,일일권,M,30대,1,0.00,0.00,0.00,52,2020,12
42049935,2020-12-31,23,1416,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
42049936,2020-12-31,23,1625,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
42049937,2020-12-31,23,419,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [6]:
bicycle1 = total_bicycle[total_bicycle['대여일자']<'2018-12-01']
bicycle1['대여구분코드'].unique()

array(['정기', '일일(회원)', '일일(비회원)', '단체', '일일(2시간권)', '정기(2시간권)', '정기권',
       '일일권', '일일권(비회원)', '단체권'], dtype=object)

In [8]:
total_bicycle['대여구분코드'].unique()

array(['정기', '일일(회원)', '일일(비회원)', '단체', '일일(2시간권)', '정기(2시간권)', '정기권',
       '일일권', '일일권(비회원)', '단체권', '단기권(전기)'], dtype=object)

In [9]:
total_bicycle['대여구분코드'] = np.where(total_bicycle['대여구분코드']=="정기","정기권",total_bicycle['대여구분코드'])
total_bicycle['대여구분코드'] = np.where(total_bicycle['대여구분코드']=="단체","단체권",total_bicycle['대여구분코드'])
total_bicycle['대여구분코드'] = np.where(total_bicycle['대여구분코드']=="일일(비회원)","일일권(비회원)",total_bicycle['대여구분코드'])
total_bicycle['대여구분코드'] = np.where(total_bicycle['대여구분코드']=="일일(회원)","일일권(회원)",total_bicycle['대여구분코드'])
total_bicycle

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,2017-01-01,0,230,영등포구청역 1번출구,정기권,F,~10대,1,31.27,0.39,1.68,155,2017,1
1,2017-01-01,0,315,신한은행 안국역지점 옆,정기권,F,20대,1,47.32,0.55,2.39,15,2017,1
2,2017-01-01,0,328,탑골공원 앞,정기권,F,20대,1,57.92,0.52,2.25,13,2017,1
3,2017-01-01,0,175,홍연2교옆,정기권,F,20대,1,133.29,1.53,6.60,43,2017,1
4,2017-01-01,0,817,삼각지역 4번출구 앞,정기권,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42049933,2020-12-31,23,3121,3121.가좌삼거리,일일권,M,30대,1,0.00,0.00,0.00,13,2020,12
42049934,2020-12-31,23,560,560. 비전교회 앞,일일권,M,30대,1,0.00,0.00,0.00,52,2020,12
42049935,2020-12-31,23,1416,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
42049936,2020-12-31,23,1625,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
42049937,2020-12-31,23,419,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [10]:
total_bicycle['대여구분코드'].unique()

array(['정기권', '일일권(회원)', '일일권(비회원)', '단체권', '일일(2시간권)', '정기(2시간권)', '일일권',
       '단기권(전기)'], dtype=object)

In [12]:
name_list = [str(x)+'. ' +str(y) for x,y in zip(bicycle1['대여소번호'],bicycle1['대여소명'])]

In [13]:
bicycle1['대여소명']=name_list
bicycle1

<ipython-input-13-2d2053f1fc1d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bicycle1['대여소명']=name_list

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,2017-01-01,0,230,230. 영등포구청역 1번출구,정기,F,~10대,1,31.27,0.39,1.68,155,2017,1
1,2017-01-01,0,315,315. 신한은행 안국역지점 옆,정기,F,20대,1,47.32,0.55,2.39,15,2017,1
2,2017-01-01,0,328,328. 탑골공원 앞,정기,F,20대,1,57.92,0.52,2.25,13,2017,1
3,2017-01-01,0,175,175. 홍연2교옆,정기,F,20대,1,133.29,1.53,6.60,43,2017,1
4,2017-01-01,0,817,817. 삼각지역 4번출구 앞,정기,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10083976,2018-11-30,23,2239,2239. 교대역 6번출구,일일권,M,30대,1,425.78,2.08,8.96,61,2018,11
10083977,2018-11-30,23,1210,1210. 롯데월드타워(잠실역2번출구 쪽),일일권,M,30대,1,32.15,0.23,0.99,5,2018,11
10083978,2018-11-30,23,1162,1162. 공항초등학교건너편,일일권,M,40대,1,40.73,0.28,1.21,7,2018,11
10083979,2018-11-30,23,1288,1288. 문정중교 사거리,일일권,M,60대,1,18.30,0.18,0.77,3,2018,11
10083980,2018-11-30,23,2184,2184. 구암초등학교 버스정류장,일일권(비회원),M,30대,1,40.93,0.37,1.59,12,2018,11

In [14]:
bicycle2 = total_bicycle[total_bicycle['대여일자']>='2018-12-01']
bicycle2

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
10083981,2018-12-01,0,1721,1721. 창동역 2번출구,정기권,\N,~10대,1,25.95,0.26,1.13,4,2018,12
10083982,2018-12-01,0,3511,3511. 응봉역 1번출구,정기권,\N,~10대,1,52.59,0.39,1.66,72,2018,12
10083983,2018-12-01,0,1975,1975. 대림역 1번 출입구 밑,정기권,\N,~10대,1,136.26,1.17,5.06,21,2018,12
10083984,2018-12-01,0,110,110. 사천교,정기권,\N,~10대,1,17.76,0.16,0.69,2,2018,12
10083985,2018-12-01,0,749,749. 이대 목동병원 앞,정기권,\N,~10대,1,95.67,0.70,3.02,15,2018,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42049933,2020-12-31,23,3121,3121.가좌삼거리,일일권,M,30대,1,0.00,0.00,0.00,13,2020,12
42049934,2020-12-31,23,560,560. 비전교회 앞,일일권,M,30대,1,0.00,0.00,0.00,52,2020,12
42049935,2020-12-31,23,1416,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
42049936,2020-12-31,23,1625,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
42049937,2020-12-31,23,419,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [15]:
real_bicycle = pd.concat([bicycle1,bicycle2],ignore_index=True)
real_bicycle

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,2017-01-01,0,230,230. 영등포구청역 1번출구,정기,F,~10대,1,31.27,0.39,1.68,155,2017,1
1,2017-01-01,0,315,315. 신한은행 안국역지점 옆,정기,F,20대,1,47.32,0.55,2.39,15,2017,1
2,2017-01-01,0,328,328. 탑골공원 앞,정기,F,20대,1,57.92,0.52,2.25,13,2017,1
3,2017-01-01,0,175,175. 홍연2교옆,정기,F,20대,1,133.29,1.53,6.60,43,2017,1
4,2017-01-01,0,817,817. 삼각지역 4번출구 앞,정기,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42049933,2020-12-31,23,3121,3121.가좌삼거리,일일권,M,30대,1,0.00,0.00,0.00,13,2020,12
42049934,2020-12-31,23,560,560. 비전교회 앞,일일권,M,30대,1,0.00,0.00,0.00,52,2020,12
42049935,2020-12-31,23,1416,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
42049936,2020-12-31,23,1625,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
42049937,2020-12-31,23,419,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [18]:
real_bicycle['탄소량(%)'].isnull().sum()

0

In [19]:
real_bicycle.to_csv('total_bicycle.csv', index = False)

In [7]:
충돌 방지 문구

SyntaxError: invalid syntax (<ipython-input-7-0728555cd2d1>, line 1)

In [ ]:
total_bicycle['연령대코드'] = np.where(total_bicycle['연령대코드']=='a',np.nan,total_bicycle['연령대코드'])

In [ ]:
total_bicycle['연령대코드'].unique()

In [ ]:
# total_bicycle['년도'].unique()

In [ ]:
month_list = [int(x[5:7]) for x in total_bicycle['대여일자']]

In [ ]:
total_bicycle['월']=month_list

In [ ]:
total_bicycle['월'].unique()

In [ ]:
total_bicycle

In [ ]:
bicycle1 = total_bicycle[total_bicycle['대여일자']<'2018-12-01']
bicycle2 = total_bicycle[total_bicycle['대여일자']>='2018-12-01']

bicycle1['대여구분코드'].unique()

In [ ]:
# del bicycle1
# del bicycle2

In [ ]:
# bicycle3 = total_bicycle[total_bicycle['대여일자']<'2018-12-01']
# bicycle4 = total_bicycle[total_bicycle['대여일자']>='2018-12-01']

아래부터는 작업내용을 참고하기 위한것
만일을 위해 주석을 처리 안함

In [ ]:
bicycle1

In [ ]:
bicycle2

In [ ]:
# total_bicycle.to_csv('total_bicycle.csv', index = False)

In [ ]:
# total_bicycle['대여소명'] = np.where(total_bicycle['대여소명'][0] in ['1','2','3','4','5','6','7','8','9'],\
#                                  str(total_bicycle['대여소번호'])+"." + total_bicycle['대여소명'],total_bicycle['대여소명'])

In [ ]:
data4[data4['운동량']=='\\N']

In [ ]:
data3 = pd.read_csv('data/최종작업파일/data3.csv', encoding = 'utf-8')
data3[data3['운동량']=='\\N']

In [ ]:
data3.dtypes

In [ ]:
data2 = pd.read_csv('data/최종작업파일/data2.csv', encoding = 'utf-8')
data1 = pd.read_csv('data/최종작업파일/data1.csv', encoding = 'utf-8')

In [ ]:
data2[data2['운동량']=='\\N']

In [ ]:
data1[data1['운동량']=='\\N']

In [ ]:
data3[data3['운동량']=='\\N']

In [ ]:
data3=data3[data3['운동량']!='\\N']
data3

In [ ]:
data3.to_csv('data3.csv', index = False)

In [ ]:
total_bicycle = pd.concat([data1,data2,data3,data4],ignore_index=True)
total_bicycle

In [ ]:
total_bicycle.rename(columns={'운동량':'운동량(Kcal)','탄소량':'탄소량(%)'}, inplace=True)

In [ ]:
year_list = [int(x[:4]) for x in total_bicycle['대여일자']]

In [ ]:
total_bicycle['년도']=year_list

In [ ]:
month_list = [int(x[5:7]) for x in total_bicycle['대여일자']]

In [ ]:
total_bicycle.to_csv('total_bicycle.csv', index = False)

In [ ]:
# total_bicycle['월']=month_list

In [ ]:
final_df['운동량']=list(map(float,final_df['운동량']))
final_df['탄소량']=list(map(float,final_df['탄소량']))
final_df

In [ ]:
data1 = pd.read_csv('data/최종작업파일/2017_bicycle.csv', encoding = 'utf-8')
data1

In [ ]:
del data1['Unnamed: 0']

In [ ]:
data1['탄소량'].isnull().sum()

In [ ]:
data1.dtypes

In [ ]:
data_list = list(set(data1['대여소번호'].tolist()))
print(data_list)

In [ ]:
[x for x in data_list]

In [ ]:
data1[(data1['대여소번호']!='중량센터')&(data1['대여소번호']!='중랑정비팀test 1005')\
     &(data1['대여소번호']!='위트콤')&(data1['대여소번호']!='위트콤공장') &(data1['대여소번호']!='상암센터 정비실')]

In [ ]:
data1=data1[(data1['대여소번호']!='중량센터')&(data1['대여소번호']!='중랑정비팀test 1005')\
     &(data1['대여소번호']!='위트콤')&(data1['대여소번호']!='위트콤공장') &(data1['대여소번호']!='상암센터 정비실')]

In [ ]:
data1=data1[(data1['대여소번호']!='중랑센터')]

In [ ]:
data1=data1[(data1['대여소번호']!='a')]

In [ ]:
data1['대여소번호'] = list(map(int,data1['대여소번호']))

In [ ]:
data1.dtypes

In [ ]:
data1['이동거리(M)']=data1['이동거리(M)']/1000

In [ ]:
data1['이동거리(M)']=round(data1['이동거리(M)'],2)
data1

In [ ]:
data1[data1['이동거리(M)'] > data1['사용시간(분)'] * 0.9]

In [ ]:
data1=data1[data1['이동거리(M)'] < data1['사용시간(분)'] * 0.9]

In [ ]:
data1.columns=['대여일자','대여시간','대여소번호','대여소명','대여구분코드','성별','연령대코드','이용건수','운동량','탄소량',\
               '이동거리(KM)','사용시간(분)']

In [ ]:
data1

In [ ]:
data2 = pd.read_csv('data/최종작업파일/2018_bicycle.csv', encoding = 'utf-8')
data2

In [ ]:
data2['탄소량'].isnull()

In [ ]:
data2['탄소량'].isnull().sum()

In [ ]:
data2=data2[data2['탄소량'].notnull()]

In [ ]:
data2

In [ ]:
data2.columns=['대여일자','대여시간','대여소번호','대여소명','대여구분코드','성별','연령대코드','이용건수','운동량','탄소량',\
               '이동거리(KM)','사용시간(분)']

In [ ]:
data2['이동거리(KM)']=round(data2['이동거리(KM)']/1000,2)
data2

In [ ]:
data2.dtypes

In [ ]:
data2['대여시간']=list(map(int,data2['대여시간']))
data2['대여소번호']=list(map(int,data2['대여소번호']))
data2['이용건수']=list(map(int,data2['이용건수']))

In [ ]:
data2['사용시간(분)']=list(map(int,data2['사용시간(분)']))
data2.dtypes

In [ ]:
data1.dtypes

In [ ]:
subdata1 = data2[data2['대여일자']>='2018-12-01']
subdata2 = data2[data2['대여일자']<'2018-12-01']
subdata2

In [ ]:
data2[data2['대여일자']=='30/11/2018']

In [ ]:
date_list = data2['대여일자'].tolist()

In [ ]:
for i in range(len(date_list)):
    if '/' in date_list[i]:
        date_list[i] =date_list[i][6:]+'-'+date_list[i][3:5]+'-'+date_list[i][:2]
    else:
        pass

In [ ]:
data2['대여일자']=date_list
data2

In [ ]:
data2[data2['대여일자']=='2018-11-01']

In [ ]:
data2.dtypes

In [ ]:
display(data1.duplicated().value_counts())

In [ ]:
display(data2.duplicated().value_counts())

In [ ]:
data3 = pd.read_csv('data/최종작업파일/2019_bicycle.csv', encoding = 'utf-8')
data3

In [ ]:
data3.dtypes

In [ ]:
data3.columns=['대여일자','대여시간','대여소번호','대여소명','대여구분코드','성별','연령대코드','이용건수','운동량','탄소량',\
               '이동거리(KM)','사용시간(분)']

In [ ]:
data2[data2['이동거리(KM)'] > data2['사용시간(분)'] * 0.9]

In [ ]:
data2=data2[data2['이동거리(KM)'] < data2['사용시간(분)'] * 0.9]
data2

In [ ]:
data3['이동거리(KM)']=data3['이동거리(KM)']/1000
data3['이동거리(KM)']=round(data3['이동거리(KM)'],2)
data3

In [ ]:
display(data3.duplicated().value_counts())

In [ ]:
data3[data3['이동거리(KM)'] > data3['사용시간(분)'] * 0.9]

In [ ]:
data3=data3[data3['이동거리(KM)'] < data3['사용시간(분)'] * 0.9]
data3

In [ ]:
data4 = pd.read_csv('data/최종작업파일/2020_bicycle.csv', encoding = 'utf-8')
data4

In [ ]:
del data4['Unnamed: 0']

In [ ]:
data4.columns=['대여일자','대여시간','대여소번호','대여소명','대여구분코드','성별','연령대코드','이용건수','운동량','탄소량',\
               '이동거리(KM)','사용시간(분)']

In [ ]:
# display(data4.duplicated().value_counts())

In [ ]:
data4.dtypes

In [ ]:
# data4['운동량']=list(map(float,data4['운동량']))
# data4['탄소량']=list(map(float,data4['탄소량']))
# data4

In [ ]:
# data4[((data4['운동량']=='\\N')|(data4['탄소량']=='\\N'))&(data4['이동거리(KM)']==0)]

In [ ]:
data4=data4[data4['운동량']!='\\N']
# data4

In [ ]:
data4['운동량']=list(map(float,data4['운동량']))
data4['탄소량']=list(map(float,data4['탄소량']))
# data4

In [ ]:
data4.dtypes

In [ ]:
data4['이동거리(KM)']=data4['이동거리(KM)']/1000
data4['이동거리(KM)']=round(data4['이동거리(KM)'],2)
# data4

In [ ]:
data4[data4['이동거리(KM)'] > data4['사용시간(분)'] * 0.9]

In [ ]:
data4=data4[data4['이동거리(KM)'] < data4['사용시간(분)'] * 0.9]
# data4

In [ ]:
data1.to_csv('data1.csv', index = False)

In [ ]:
data2.to_csv('data2.csv', index = False)

In [ ]:
data3.to_csv('data3.csv', index = False)
data4.to_csv('data4.csv', index = False)

In [ ]:
# final_data.to_csv('final_data.csv')

In [ ]:
# final_data = pd.concat([data1,data2,data3,data4],ignore_index=True)
# final_data

In [ ]:
man!!!!!
# final_data.to_csv('final_data.csv')

In [ ]:
final_data.rename(columns={'운동량':'운동량(Kcal)','탄소량':'탄소량(%)','이동거리':'이동거리(KM)','사용시간':'사용시간(분)'}, inplace=True)
final_data

In [ ]:
final_data.rename(columns={'탄소량(%)':'탄소절감량(%)'}, inplace=True)
final_data

In [ ]:
final_data['이동거리(KM)']=[x/1000 for x in final_data['이동거리(KM)']]
final_data

In [ ]:
final_data['이동거리(KM)']=round(final_data['이동거리(KM)'],2)
final_data

In [ ]:
# final_data=final_data.astype({'대여소번호':'int'})

In [ ]:
# final_data[str(final_data['대여소번호']).isalpha()]

In [ ]:
# final_data['대여시간']=[int(x) for x in final_data['대여시간']]

In [ ]:
# final_data['대여시간'].dropna()
# final_data

In [ ]:
# final_data['대여시간']=[int(x) for x in final_data['대여시간']]
# final_data

In [ ]:
# final_data['대여시간'].isnull().sum()

In [ ]:
final_data = final_data[final_data['대여시간'].notnull()]

In [ ]:
final_data['대여시간'].unique()

In [ ]:
# final_data=final_data.str.astype({'대여시간':'int'})

In [ ]:
final_data['대여시간']=[int(x) for x in final_data['대여시간']]

In [ ]:
final_data.dtypes

In [ ]:
final_data['연월']=[x[:7] for x in final_data['대여일자']]
final_data.head()

In [ ]:
final_data['연도']=[x[:4] for x in final_data['대여일자']]
final_data.head()

In [ ]:
grouped_data = final_data.groupby(['연월', '연령대코드'])['사용시간(분)']
grouped_data.agg(['mean','sum']).head(1000)

In [ ]:
grouped_data.agg(['mean','sum']).head(1000)

In [ ]:
grouped_data2 = final_data.groupby(['연도', '연령대코드'])['사용시간(분)']
grouped_data2.agg(['mean','sum'])

In [ ]:
final_data['연도'].unique()

In [ ]:
final_data[(final_data['연도']=='2017')|(final_data['연도']=='2018')|(final_data['연도']=='2019')|(final_data['연도']=='2020')]