In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pd.set_option('display.max_rows', 1000)

In [4]:
# path = './data/최종작업파일'
# all_files = glob.glob(path + "/*.csv")
# ls = []
# for filename in all_files:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     ls.append(df)
# total_menu = pd.concat(ls, axis=0, ignore_index=True)
# total_menu

In [21]:
total_bicycle = pd.read_csv('data/최종작업파일/total_bicycle.csv', encoding = 'utf-8')
total_bicycle

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,2017-01-01,0,230,230. 영등포구청역 1번출구,정기,F,~10대,1,31.27,0.39,1.68,155,2017,1
1,2017-01-01,0,315,315. 신한은행 안국역지점 옆,정기,F,20대,1,47.32,0.55,2.39,15,2017,1
2,2017-01-01,0,328,328. 탑골공원 앞,정기,F,20대,1,57.92,0.52,2.25,13,2017,1
3,2017-01-01,0,175,175. 홍연2교옆,정기,F,20대,1,133.29,1.53,6.60,43,2017,1
4,2017-01-01,0,817,817. 삼각지역 4번출구 앞,정기,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42049933,2020-12-31,23,3121,3121.가좌삼거리,일일권,M,30대,1,0.00,0.00,0.00,13,2020,12
42049934,2020-12-31,23,560,560. 비전교회 앞,일일권,M,30대,1,0.00,0.00,0.00,52,2020,12
42049935,2020-12-31,23,1416,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
42049936,2020-12-31,23,1625,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
42049937,2020-12-31,23,419,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [22]:
total_bicycle = total_bicycle[(total_bicycle['사용시간(분)']!=0)&(total_bicycle['이동거리(KM)']!=0)]
total_bicycle

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,2017-01-01,0,230,230. 영등포구청역 1번출구,정기,F,~10대,1,31.27,0.39,1.68,155,2017,1
1,2017-01-01,0,315,315. 신한은행 안국역지점 옆,정기,F,20대,1,47.32,0.55,2.39,15,2017,1
2,2017-01-01,0,328,328. 탑골공원 앞,정기,F,20대,1,57.92,0.52,2.25,13,2017,1
3,2017-01-01,0,175,175. 홍연2교옆,정기,F,20대,1,133.29,1.53,6.60,43,2017,1
4,2017-01-01,0,817,817. 삼각지역 4번출구 앞,정기,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42049929,2020-12-31,23,125,125. 서강대 남문 옆,일일권,M,20대,1,69.69,0.70,3.03,41,2020,12
42049931,2020-12-31,23,1211,1211. 방이삼거리,일일권,M,20대,1,118.09,0.82,3.55,31,2020,12
42049935,2020-12-31,23,1416,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
42049936,2020-12-31,23,1625,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
42049937,2020-12-31,23,419,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [31]:
time_data = total_bicycle[total_bicycle['사용시간(분)']>360]
time_data

,대여일자,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
1895,2017-01-01,21,816. 신용산역 6번출구 앞,정기,F,60대,1,93.69,0.84,3.64,587,2017,1
2437,2017-01-02,7,540. 군자역 7번출구 베스트샵 앞,정기,M,20대,1,40.80,0.43,1.84,392,2017,1
4842,2017-01-02,19,345. 서울보증보험본사 앞,정기,M,30대,1,28.05,0.21,0.92,733,2017,1
5090,2017-01-02,20,383. 신당역 12번 출구 뒤,정기,M,40대,1,97.38,0.98,4.24,640,2017,1
5806,2017-01-03,2,573. 구의문주차장 앞,일일(회원),M,60대,1,143.63,1.29,5.58,1046,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41991344,2020-12-29,14,589. 성수역3번출구,정기권,M,50대,1,65.53,0.51,2.21,393,2020,12
42003990,2020-12-29,20,2297. 남부터미널역 1번출구,일일권,NaN,~10대,2,628.84,3.68,15.88,389,2020,12
42027549,2020-12-31,0,709. 신정3동 현장민원실 앞,정기권,F,50대,1,11.88,0.11,0.46,543,2020,12
42027748,2020-12-31,1,2910.도깨비시장,정기권,NaN,20대,1,85.74,0.56,2.41,368,2020,12
42034119,2020-12-31,11,1730. 도봉산역 교차로 앞,일일권,M,20대,2,1823.18,15.60,67.23,383,2020,12

In [32]:
time_data.to_csv('센서이상2.csv')

In [33]:
total_bicycle = total_bicycle[total_bicycle['사용시간(분)']<=360]
total_bicycle

MemoryError: Unable to allocate 1.10 GiB for an array with shape (5, 29521504) and data type object

In [34]:
total_bicycle.to_csv('bicycle_data.csv')

In [23]:
del total_bicycle['대여소번호']

In [24]:
null_count = total_bicycle['성별'].isnull().sum()
null_count

10161418

In [30]:
new_data = total_bicycle.groupby(['년도','월','성별']).count().head(1000)
new_data

MemoryError: Unable to allocate 903. MiB for an array with shape (4, 29579516) and data type object

In [26]:
data = total_bicycle[(total_bicycle['운동량(Kcal)']==0)&((total_bicycle['사용시간(분)']>0))]
data
del data

In [12]:
data2 = total_bicycle[(total_bicycle['이동거리(KM)']==0)&((total_bicycle['사용시간(분)']>0))]

NameError: name 'dat2' is not defined

In [13]:
data2

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
127,2017-01-01,1,640,640. KEB하나은행 청량리역지점,정기,M,40대,1,0.0,0.0,0.0,33,2017,1
301,2017-01-01,6,413,413. 상암월드컵파크 3단지 후문,정기,M,50대,1,0.0,0.0,0.0,15,2017,1
365,2017-01-01,8,334,334. 종로3가역 2번출구 뒤,정기,M,20대,1,0.0,0.0,0.0,20,2017,1
468,2017-01-01,10,170,170. 가재울 뉴타운 주유소 옆,정기,F,70대~,1,0.0,0.0,0.0,6,2017,1
528,2017-01-01,11,384,384. 종로학원본원,정기,F,70대~,1,0.0,0.0,0.0,25,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42049926,2020-12-31,23,352,352. 중앙고입구 삼거리,일일권,M,20대,1,0.0,0.0,0.0,28,2020,12
42049930,2020-12-31,23,177,177. 북가좌 초등학교,일일권,M,20대,1,0.0,0.0,0.0,9,2020,12
42049932,2020-12-31,23,3204,3204.도림고가도로 밑,일일권,M,30대,1,0.0,0.0,0.0,37,2020,12
42049933,2020-12-31,23,3121,3121.가좌삼거리,일일권,M,30대,1,0.0,0.0,0.0,13,2020,12
42049934,2020-12-31,23,560,560. 비전교회 앞,일일권,M,30대,1,0.0,0.0,0.0,52,2020,12

In [27]:
del data2

In [7]:
smaple_data = total_bicycle.sample(1000000)

In [8]:
smaple_data

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
40589413,2020-11-21,22,2634,2634.위례포레샤인아파트 2318동,정기권,NaN,20대,1,0.00,0.00,0.00,13,2020,11
10114809,2018-12-02,14,1366,1366. 일신초등학교 옆,정기권,M,30대,1,62.55,0.56,2.43,19,2018,12
6534574,2018-06-16,12,1675,1675. 월계문화체육센터,단체권,F,30대,3,798.20,7.20,31.01,192,2018,6
6967558,2018-07-03,11,567,567. 성수역 2번출구 앞,정기권,M,70대~,1,96.01,0.87,3.73,43,2018,7
33984575,2020-08-16,15,1920,1920. 서울미래초등학교 사거리,정기권,NaN,20대,1,0.00,0.00,0.00,4,2020,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24736612,2020-03-02,18,1288,1288. 문정중교 사거리,일일권,M,30대,1,305.33,2.93,12.64,93,2020,3
8144726,2018-08-22,8,714,714. 한국SGI 양천문화회관 앞,정기권,F,20대,1,30.60,0.32,1.38,10,2018,8
31430658,2020-07-01,17,2621,2621. 한성백제역 2번 출구,정기권,NaN,70대~,1,29.61,0.25,1.07,16,2020,7
5074645,2018-04-16,15,305,305. 종로구청 옆,정기권,F,40대,2,66.94,0.66,2.83,24,2018,4
7620419,2018-07-29,17,1019,1019. 다성이즈빌아파트(호원대 대각선 맞은편),정기권,F,20대,1,25.40,0.28,1.21,8,2018,7

In [9]:
smaple_data.to_csv('smaple_data.csv', index = False)

In [14]:
del total_bicycle['대여소번호']
total_bicycle

,대여일자,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,2017-01-01,0,230. 영등포구청역 1번출구,정기,F,~10대,1,31.27,0.39,1.68,155,2017,1
1,2017-01-01,0,315. 신한은행 안국역지점 옆,정기,F,20대,1,47.32,0.55,2.39,15,2017,1
2,2017-01-01,0,328. 탑골공원 앞,정기,F,20대,1,57.92,0.52,2.25,13,2017,1
3,2017-01-01,0,175. 홍연2교옆,정기,F,20대,1,133.29,1.53,6.60,43,2017,1
4,2017-01-01,0,817. 삼각지역 4번출구 앞,정기,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42049933,2020-12-31,23,3121.가좌삼거리,일일권,M,30대,1,0.00,0.00,0.00,13,2020,12
42049934,2020-12-31,23,560. 비전교회 앞,일일권,M,30대,1,0.00,0.00,0.00,52,2020,12
42049935,2020-12-31,23,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
42049936,2020-12-31,23,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
42049937,2020-12-31,23,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [15]:
total_bicycle.dtypes

대여일자          object
대여시간           int64
대여소명          object
대여구분코드        object
성별            object
연령대코드         object
이용건수           int64
운동량(Kcal)    float64
탄소량(%)       float64
이동거리(KM)     float64
사용시간(분)        int64
년도             int64
월              int64
dtype: object

In [16]:
error_data = data[(data['운동량(Kcal)']==0)|(data['사용시간(분)']==0)|(data['탄소량(%)']==0)|(data['이동거리(KM)']==0)]
error_data

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
127,2017-01-01,1,640,640. KEB하나은행 청량리역지점,정기,M,40대,1,0.0,0.0,0.0,33,2017,1
301,2017-01-01,6,413,413. 상암월드컵파크 3단지 후문,정기,M,50대,1,0.0,0.0,0.0,15,2017,1
365,2017-01-01,8,334,334. 종로3가역 2번출구 뒤,정기,M,20대,1,0.0,0.0,0.0,20,2017,1
468,2017-01-01,10,170,170. 가재울 뉴타운 주유소 옆,정기,F,70대~,1,0.0,0.0,0.0,6,2017,1
528,2017-01-01,11,384,384. 종로학원본원,정기,F,70대~,1,0.0,0.0,0.0,25,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42049926,2020-12-31,23,352,352. 중앙고입구 삼거리,일일권,M,20대,1,0.0,0.0,0.0,28,2020,12
42049930,2020-12-31,23,177,177. 북가좌 초등학교,일일권,M,20대,1,0.0,0.0,0.0,9,2020,12
42049932,2020-12-31,23,3204,3204.도림고가도로 밑,일일권,M,30대,1,0.0,0.0,0.0,37,2020,12
42049933,2020-12-31,23,3121,3121.가좌삼거리,일일권,M,30대,1,0.0,0.0,0.0,13,2020,12
42049934,2020-12-31,23,560,560. 비전교회 앞,일일권,M,30대,1,0.0,0.0,0.0,52,2020,12

In [29]:
del [error_data,error_data2]

In [18]:
error_data2 = data[(data['사용시간(분)']==0)|(data['이동거리(KM)']==0)]
error_data2

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
127,2017-01-01,1,640,640. KEB하나은행 청량리역지점,정기,M,40대,1,0.0,0.0,0.0,33,2017,1
301,2017-01-01,6,413,413. 상암월드컵파크 3단지 후문,정기,M,50대,1,0.0,0.0,0.0,15,2017,1
365,2017-01-01,8,334,334. 종로3가역 2번출구 뒤,정기,M,20대,1,0.0,0.0,0.0,20,2017,1
468,2017-01-01,10,170,170. 가재울 뉴타운 주유소 옆,정기,F,70대~,1,0.0,0.0,0.0,6,2017,1
528,2017-01-01,11,384,384. 종로학원본원,정기,F,70대~,1,0.0,0.0,0.0,25,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42049926,2020-12-31,23,352,352. 중앙고입구 삼거리,일일권,M,20대,1,0.0,0.0,0.0,28,2020,12
42049930,2020-12-31,23,177,177. 북가좌 초등학교,일일권,M,20대,1,0.0,0.0,0.0,9,2020,12
42049932,2020-12-31,23,3204,3204.도림고가도로 밑,일일권,M,30대,1,0.0,0.0,0.0,37,2020,12
42049933,2020-12-31,23,3121,3121.가좌삼거리,일일권,M,30대,1,0.0,0.0,0.0,13,2020,12
42049934,2020-12-31,23,560,560. 비전교회 앞,일일권,M,30대,1,0.0,0.0,0.0,52,2020,12

In [19]:
error_data2.to_csv('센서이상1.csv')

In [20]:
total_bicycle = total_bicycle[(total_bicycle['사용시간(분)']!=0)&(total_bicycle['이동거리(KM)']!=0)]
total_bicycle

,대여일자,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
127,2017-01-01,1,640. KEB하나은행 청량리역지점,정기,M,40대,1,0.0,0.0,0.0,33,2017,1
301,2017-01-01,6,413. 상암월드컵파크 3단지 후문,정기,M,50대,1,0.0,0.0,0.0,15,2017,1
365,2017-01-01,8,334. 종로3가역 2번출구 뒤,정기,M,20대,1,0.0,0.0,0.0,20,2017,1
468,2017-01-01,10,170. 가재울 뉴타운 주유소 옆,정기,F,70대~,1,0.0,0.0,0.0,6,2017,1
528,2017-01-01,11,384. 종로학원본원,정기,F,70대~,1,0.0,0.0,0.0,25,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42049926,2020-12-31,23,352. 중앙고입구 삼거리,일일권,M,20대,1,0.0,0.0,0.0,28,2020,12
42049930,2020-12-31,23,177. 북가좌 초등학교,일일권,M,20대,1,0.0,0.0,0.0,9,2020,12
42049932,2020-12-31,23,3204.도림고가도로 밑,일일권,M,30대,1,0.0,0.0,0.0,37,2020,12
42049933,2020-12-31,23,3121.가좌삼거리,일일권,M,30대,1,0.0,0.0,0.0,13,2020,12
42049934,2020-12-31,23,560. 비전교회 앞,일일권,M,30대,1,0.0,0.0,0.0,52,2020,12

In [6]:
충돌 방지 문구

SyntaxError: invalid syntax (<ipython-input-6-0728555cd2d1>, line 1)

In [ ]:
bicycle1 = total_bicycle[total_bicycle['대여일자']<'2018-12-01']
bicycle1['대여구분코드'].unique()

In [ ]:
total_bicycle['대여구분코드'].unique()

In [ ]:
total_bicycle['대여구분코드'] = np.where(total_bicycle['대여구분코드']=="정기","정기권",total_bicycle['대여구분코드'])
total_bicycle['대여구분코드'] = np.where(total_bicycle['대여구분코드']=="단체","단체권",total_bicycle['대여구분코드'])
total_bicycle['대여구분코드'] = np.where(total_bicycle['대여구분코드']=="일일(비회원)","일일권(비회원)",total_bicycle['대여구분코드'])
total_bicycle['대여구분코드'] = np.where(total_bicycle['대여구분코드']=="일일(회원)","일일권(회원)",total_bicycle['대여구분코드'])
total_bicycle

In [ ]:
total_bicycle['대여구분코드'].unique()

In [ ]:
name_list = [str(x)+'. ' +str(y) for x,y in zip(bicycle1['대여소번호'],bicycle1['대여소명'])]

In [ ]:
bicycle1['대여소명']=name_list
bicycle1

In [ ]:
bicycle2 = total_bicycle[total_bicycle['대여일자']>='2018-12-01']
bicycle2

In [ ]:
real_bicycle = pd.concat([bicycle1,bicycle2],ignore_index=True)
real_bicycle

In [ ]:
real_bicycle['탄소량(%)'].isnull().sum()

In [ ]:
real_bicycle.to_csv('total_bicycle.csv', index = False)

In [ ]:
total_bicycle['연령대코드'] = np.where(total_bicycle['연령대코드']=='a',np.nan,total_bicycle['연령대코드'])

In [ ]:
total_bicycle['연령대코드'].unique()

In [ ]:
# total_bicycle['년도'].unique()

In [ ]:
month_list = [int(x[5:7]) for x in total_bicycle['대여일자']]

In [ ]:
total_bicycle['월']=month_list

In [ ]:
total_bicycle['월'].unique()

In [ ]:
total_bicycle

In [ ]:
bicycle1 = total_bicycle[total_bicycle['대여일자']<'2018-12-01']
bicycle2 = total_bicycle[total_bicycle['대여일자']>='2018-12-01']

bicycle1['대여구분코드'].unique()

In [ ]:
# del bicycle1
# del bicycle2

In [ ]:
# bicycle3 = total_bicycle[total_bicycle['대여일자']<'2018-12-01']
# bicycle4 = total_bicycle[total_bicycle['대여일자']>='2018-12-01']

아래부터는 작업내용을 참고하기 위한것
만일을 위해 주석을 처리 안함

In [ ]:
bicycle1

In [ ]:
bicycle2

In [ ]:
# total_bicycle.to_csv('total_bicycle.csv', index = False)

In [ ]:
# total_bicycle['대여소명'] = np.where(total_bicycle['대여소명'][0] in ['1','2','3','4','5','6','7','8','9'],\
#                                  str(total_bicycle['대여소번호'])+"." + total_bicycle['대여소명'],total_bicycle['대여소명'])

In [ ]:
data4[data4['운동량']=='\\N']

In [ ]:
data3 = pd.read_csv('data/최종작업파일/data3.csv', encoding = 'utf-8')
data3[data3['운동량']=='\\N']

In [ ]:
data3.dtypes

In [ ]:
data2 = pd.read_csv('data/최종작업파일/data2.csv', encoding = 'utf-8')
data1 = pd.read_csv('data/최종작업파일/data1.csv', encoding = 'utf-8')

In [ ]:
data2[data2['운동량']=='\\N']

In [ ]:
data1[data1['운동량']=='\\N']

In [ ]:
data3[data3['운동량']=='\\N']

In [ ]:
data3=data3[data3['운동량']!='\\N']
data3

In [ ]:
data3.to_csv('data3.csv', index = False)

In [ ]:
total_bicycle = pd.concat([data1,data2,data3,data4],ignore_index=True)
total_bicycle

In [ ]:
total_bicycle.rename(columns={'운동량':'운동량(Kcal)','탄소량':'탄소량(%)'}, inplace=True)

In [ ]:
year_list = [int(x[:4]) for x in total_bicycle['대여일자']]

In [ ]:
total_bicycle['년도']=year_list

In [ ]:
month_list = [int(x[5:7]) for x in total_bicycle['대여일자']]

In [ ]:
total_bicycle.to_csv('total_bicycle.csv', index = False)

In [ ]:
# total_bicycle['월']=month_list

In [ ]:
final_df['운동량']=list(map(float,final_df['운동량']))
final_df['탄소량']=list(map(float,final_df['탄소량']))
final_df

In [ ]:
data1 = pd.read_csv('data/최종작업파일/2017_bicycle.csv', encoding = 'utf-8')
data1

In [ ]:
del data1['Unnamed: 0']

In [ ]:
data1['탄소량'].isnull().sum()

In [ ]:
data1.dtypes

In [ ]:
data_list = list(set(data1['대여소번호'].tolist()))
print(data_list)

In [ ]:
[x for x in data_list]

In [ ]:
data1[(data1['대여소번호']!='중량센터')&(data1['대여소번호']!='중랑정비팀test 1005')\
     &(data1['대여소번호']!='위트콤')&(data1['대여소번호']!='위트콤공장') &(data1['대여소번호']!='상암센터 정비실')]

In [ ]:
data1=data1[(data1['대여소번호']!='중량센터')&(data1['대여소번호']!='중랑정비팀test 1005')\
     &(data1['대여소번호']!='위트콤')&(data1['대여소번호']!='위트콤공장') &(data1['대여소번호']!='상암센터 정비실')]

In [ ]:
data1=data1[(data1['대여소번호']!='중랑센터')]

In [ ]:
data1=data1[(data1['대여소번호']!='a')]

In [ ]:
data1['대여소번호'] = list(map(int,data1['대여소번호']))

In [ ]:
data1.dtypes

In [ ]:
data1['이동거리(M)']=data1['이동거리(M)']/1000

In [ ]:
data1['이동거리(M)']=round(data1['이동거리(M)'],2)
data1

In [ ]:
data1[data1['이동거리(M)'] > data1['사용시간(분)'] * 0.9]

In [ ]:
data1=data1[data1['이동거리(M)'] < data1['사용시간(분)'] * 0.9]

In [ ]:
data1.columns=['대여일자','대여시간','대여소번호','대여소명','대여구분코드','성별','연령대코드','이용건수','운동량','탄소량',\
               '이동거리(KM)','사용시간(분)']

In [ ]:
data1

In [ ]:
data2 = pd.read_csv('data/최종작업파일/2018_bicycle.csv', encoding = 'utf-8')
data2

In [ ]:
data2['탄소량'].isnull()

In [ ]:
data2['탄소량'].isnull().sum()

In [ ]:
data2=data2[data2['탄소량'].notnull()]

In [ ]:
data2

In [ ]:
data2.columns=['대여일자','대여시간','대여소번호','대여소명','대여구분코드','성별','연령대코드','이용건수','운동량','탄소량',\
               '이동거리(KM)','사용시간(분)']

In [ ]:
data2['이동거리(KM)']=round(data2['이동거리(KM)']/1000,2)
data2

In [ ]:
data2.dtypes

In [ ]:
data2['대여시간']=list(map(int,data2['대여시간']))
data2['대여소번호']=list(map(int,data2['대여소번호']))
data2['이용건수']=list(map(int,data2['이용건수']))

In [ ]:
data2['사용시간(분)']=list(map(int,data2['사용시간(분)']))
data2.dtypes

In [ ]:
data1.dtypes

In [ ]:
subdata1 = data2[data2['대여일자']>='2018-12-01']
subdata2 = data2[data2['대여일자']<'2018-12-01']
subdata2

In [ ]:
data2[data2['대여일자']=='30/11/2018']

In [ ]:
date_list = data2['대여일자'].tolist()

In [ ]:
for i in range(len(date_list)):
    if '/' in date_list[i]:
        date_list[i] =date_list[i][6:]+'-'+date_list[i][3:5]+'-'+date_list[i][:2]
    else:
        pass

In [ ]:
data2['대여일자']=date_list
data2

In [ ]:
data2[data2['대여일자']=='2018-11-01']

In [ ]:
data2.dtypes

In [ ]:
display(data1.duplicated().value_counts())

In [ ]:
display(data2.duplicated().value_counts())

In [ ]:
data3 = pd.read_csv('data/최종작업파일/2019_bicycle.csv', encoding = 'utf-8')
data3

In [ ]:
data3.dtypes

In [ ]:
data3.columns=['대여일자','대여시간','대여소번호','대여소명','대여구분코드','성별','연령대코드','이용건수','운동량','탄소량',\
               '이동거리(KM)','사용시간(분)']

In [ ]:
data2[data2['이동거리(KM)'] > data2['사용시간(분)'] * 0.9]

In [ ]:
data2=data2[data2['이동거리(KM)'] < data2['사용시간(분)'] * 0.9]
data2

In [ ]:
data3['이동거리(KM)']=data3['이동거리(KM)']/1000
data3['이동거리(KM)']=round(data3['이동거리(KM)'],2)
data3

In [ ]:
display(data3.duplicated().value_counts())

In [ ]:
data3[data3['이동거리(KM)'] > data3['사용시간(분)'] * 0.9]

In [ ]:
data3=data3[data3['이동거리(KM)'] < data3['사용시간(분)'] * 0.9]
data3

In [ ]:
data4 = pd.read_csv('data/최종작업파일/2020_bicycle.csv', encoding = 'utf-8')
data4

In [ ]:
del data4['Unnamed: 0']

In [ ]:
data4.columns=['대여일자','대여시간','대여소번호','대여소명','대여구분코드','성별','연령대코드','이용건수','운동량','탄소량',\
               '이동거리(KM)','사용시간(분)']

In [ ]:
# display(data4.duplicated().value_counts())

In [ ]:
data4.dtypes

In [ ]:
# data4['운동량']=list(map(float,data4['운동량']))
# data4['탄소량']=list(map(float,data4['탄소량']))
# data4

In [ ]:
# data4[((data4['운동량']=='\\N')|(data4['탄소량']=='\\N'))&(data4['이동거리(KM)']==0)]

In [ ]:
data4=data4[data4['운동량']!='\\N']
# data4

In [ ]:
data4['운동량']=list(map(float,data4['운동량']))
data4['탄소량']=list(map(float,data4['탄소량']))
# data4

In [ ]:
data4.dtypes

In [ ]:
data4['이동거리(KM)']=data4['이동거리(KM)']/1000
data4['이동거리(KM)']=round(data4['이동거리(KM)'],2)
# data4

In [ ]:
data4[data4['이동거리(KM)'] > data4['사용시간(분)'] * 0.9]

In [ ]:
data4=data4[data4['이동거리(KM)'] < data4['사용시간(분)'] * 0.9]
# data4

In [ ]:
data1.to_csv('data1.csv', index = False)

In [ ]:
data2.to_csv('data2.csv', index = False)

In [ ]:
data3.to_csv('data3.csv', index = False)
data4.to_csv('data4.csv', index = False)

In [ ]:
# final_data.to_csv('final_data.csv')

In [ ]:
# final_data = pd.concat([data1,data2,data3,data4],ignore_index=True)
# final_data

In [ ]:
man!!!!!
# final_data.to_csv('final_data.csv')

In [ ]:
final_data.rename(columns={'운동량':'운동량(Kcal)','탄소량':'탄소량(%)','이동거리':'이동거리(KM)','사용시간':'사용시간(분)'}, inplace=True)
final_data

In [ ]:
final_data.rename(columns={'탄소량(%)':'탄소절감량(%)'}, inplace=True)
final_data

In [ ]:
final_data['이동거리(KM)']=[x/1000 for x in final_data['이동거리(KM)']]
final_data

In [ ]:
final_data['이동거리(KM)']=round(final_data['이동거리(KM)'],2)
final_data

In [ ]:
# final_data=final_data.astype({'대여소번호':'int'})

In [ ]:
# final_data[str(final_data['대여소번호']).isalpha()]

In [ ]:
# final_data['대여시간']=[int(x) for x in final_data['대여시간']]

In [ ]:
# final_data['대여시간'].dropna()
# final_data

In [ ]:
# final_data['대여시간']=[int(x) for x in final_data['대여시간']]
# final_data

In [ ]:
# final_data['대여시간'].isnull().sum()

In [ ]:
final_data = final_data[final_data['대여시간'].notnull()]

In [ ]:
final_data['대여시간'].unique()

In [ ]:
# final_data=final_data.str.astype({'대여시간':'int'})

In [ ]:
final_data['대여시간']=[int(x) for x in final_data['대여시간']]

In [ ]:
final_data.dtypes

In [ ]:
final_data['연월']=[x[:7] for x in final_data['대여일자']]
final_data.head()

In [ ]:
final_data['연도']=[x[:4] for x in final_data['대여일자']]
final_data.head()

In [ ]:
grouped_data = final_data.groupby(['연월', '연령대코드'])['사용시간(분)']
grouped_data.agg(['mean','sum']).head(1000)

In [ ]:
grouped_data.agg(['mean','sum']).head(1000)

In [ ]:
grouped_data2 = final_data.groupby(['연도', '연령대코드'])['사용시간(분)']
grouped_data2.agg(['mean','sum'])

In [ ]:
final_data['연도'].unique()

In [ ]:
final_data[(final_data['연도']=='2017')|(final_data['연도']=='2018')|(final_data['연도']=='2019')|(final_data['연도']=='2020')]