In [1]:
import pandas as pd

In [2]:
import platform
from matplotlib import font_manager, rc # Runtime Configuration
path = "c:/Windows/Fonts/malgun.ttf"
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [3]:
import numpy as np

In [4]:
# from selenium import webdriver
# driver = webdriver.Chrome('chrome_driver/chromedriver.exe')
# driver.get('http://data.seoul.go.kr/dataList/OA-15245/F/1/datasetView.do#')
# driver.implicitly_wait(time_to_wait=5)
# for i in range(41):   
#     driver.execute_script("javascript:downloadFile"+"("+str(i+1)+")")
    
    
pd.set_option('display.max_rows', 1000)

In [5]:
data1 = pd.read_csv('data/서울특별시 공공자전거 시간대별 대여정보_201812_201905(1).csv', encoding = 'utf-8')
data1

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2018-12-01,0,1721,1721. 창동역 2번출구,정기권,\N,~10대,1,25.95,0.26,1130.0,4
1,2018-12-01,0,3511,3511. 응봉역 1번출구,정기권,\N,~10대,1,52.59,0.39,1660.0,72
2,2018-12-01,0,1975,1975. 대림역 1번 출입구 밑,정기권,\N,~10대,1,136.26,1.17,5060.0,21
3,2018-12-01,0,110,110. 사천교,정기권,\N,~10대,1,17.76,0.16,690.0,2
4,2018-12-01,0,749,749. 이대 목동병원 앞,정기권,\N,~10대,1,95.67,0.70,3020.0,15
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2019-02-27,19,214,214. 금융감독원 앞,정기권,F,30대,1,27.06,0.31,1340.0,7
999996,2019-02-27,19,1906,1906. 신도림역 1번 출구 앞,정기권,F,30대,1,146.41,1.65,7110.0,29
999997,2019-02-27,19,1908,1908. 해원리바파크 육교 밑,정기권,F,30대,1,13.38,0.12,520.0,4
999998,2019-02-27,19,1911,1911. 구로디지털단지역 앞,정기권,F,30대,1,73.62,0.66,2860.0,17
999999,2019-02-27,19,2106,2106. 난곡 새마을금고,정기권,F,30대,1,43.34,0.53,2280.0,21

In [6]:
data2 = pd.read_csv('data/서울특별시 공공자전거 시간대별 대여정보_201812_201905(2).csv', encoding = 'utf-8')
data2

C:\Users\BIT\anaconda3\envs\data-anal-env\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-02-27,0,505,505. 자양사거리 광진아크로텔 앞,정기권,F,20대,1,23.0,0.28,1210,6
1,2019-02-27,0,1448,1448. 코스트코 상봉점,정기권,F,20대,1,25.48,0.23,990,5
2,2019-02-27,0,1650,1650. 중계근린공원내,정기권,F,20대,1,37.85,0.38,1620,10
3,2019-02-27,0,1654,1654. 당고개입구 오거리,정기권,F,20대,1,11.94,0.13,580,3
4,2019-02-27,0,302,302. 경복궁역 4번출구 뒤,정기권,F,20대,2,87.98,0.87,3770,20
...,...,...,...,...,...,...,...,...,...,...,...,...
1025258,2019-04-13,23,1113,1113. 서남환경공원 버스정류장,단체권,M,20대,1,21.04,0.18,770,7
1025259,2019-04-13,23,1617,1617. 하계동 중평어린이공원 앞,단체권,M,20대,2,442.01,3.54,15290,74
1025260,2019-04-13,23,2050,2050. 노량진역 5번출구,단체권,M,20대,2,184.34,2.16,9310,45
1025261,2019-04-13,23,1228,1228. 마천사거리,단체권,M,20대,2,75.2,0.49,2110,11
1025262,2019-04-13,23,1637,1637. KT 노원점 건물 앞,단체권,M,30대,1,43.04,0.33,1430,7

In [9]:
data1.dtypes

대여일자       object
대여시간        int64
대여소번호       int64
대여소명       object
대여구분코드     object
성별         object
연령대코드      object
이용건수        int64
운동량       float64
탄소량       float64
이동거리      float64
사용시간        int64
dtype: object

In [8]:
data2.dtypes

대여일자      object
대여시간       int64
대여소번호      int64
대여소명      object
대여구분코드    object
성별        object
연령대코드     object
이용건수       int64
운동량       object
탄소량       object
이동거리       int64
사용시간       int64
dtype: object

In [22]:
import ast

In [23]:
# data2['운동량'] = [ast.literal_eval(x) for x in data2['운동량']]
# data2['탄소량'] = [ast.literal_eval(x) for x in data2['탄소량']]

ValueError: malformed node or string: 23.0

In [10]:
data3 = pd.read_csv('data/서울특별시 공공자전거 시간대별 대여정보_201812_201905(3).csv', encoding = 'utf-8')
data3

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-04-13,17,104,104. 합정역 1번출구 앞,일일권,F,20대,3,572.92,6.14,26510.0,216
1,2019-04-13,17,1601,1601. 석계역 문화광장 내 자전거 보관소,일일권,F,20대,1,337.45,3.47,14950.0,92
2,2019-04-13,17,1637,1637. KT 노원점 건물 앞,일일권,F,20대,1,242.73,2.19,9430.0,51
3,2019-04-13,17,1833,1833. 독산역 1번출구 앞 자전거보관소,일일권,F,20대,1,91.89,0.83,3570.0,24
4,2019-04-13,17,215,215. 여의도고교 앞,일일권,F,20대,3,515.68,5.33,22950.0,245
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2019-05-05,22,1297,1297. 석촌호수교차로(동호 팔각정 앞),단체권,NaN,20대,2,248.06,2.55,10990.0,89
999996,2019-05-05,22,2604,2604. 삼표레미콘 앞,단체권,NaN,20대,2,294.98,2.66,11460.0,106
999997,2019-05-05,22,2183,2183. 동방1교,단체권,NaN,20대,2,371.07,3.20,13780.0,74
999998,2019-05-05,22,147,147. 마포역 4번출구 뒤,단체권,NaN,20대,2,206.69,2.20,9490.0,103
999999,2019-05-05,22,530,530. 청계벽산아파트 앞,단체권,NaN,20대,2,161.14,1.45,6260.0,68

In [12]:
data3.dtypes

대여일자       object
대여시간        int64
대여소번호       int64
대여소명       object
대여구분코드     object
성별         object
연령대코드      object
이용건수        int64
운동량        object
탄소량        object
이동거리      float64
사용시간        int64
dtype: object

In [16]:
data4 = pd.read_csv('data/서울특별시 공공자전거 시간대별 대여정보_201812_201905(4).csv', encoding = 'utf-8')
data4

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-05-05,22,613,613. 신설동역 10번출구 앞,단체권,NaN,20대,2,224.77,2.39,10320.0,105
1,2019-05-05,22,263,263. 근로자회관 사거리,단체권,NaN,20대,3,149.45,1.03,4440.0,44
2,2019-05-05,22,816,816. 신용산역 6번출구 앞,단체권,NaN,20대,2,229.83,2.64,11380.0,63
3,2019-05-05,22,204,204. 국회의사당역 5번출구 옆,단체권,NaN,20대,2,174.64,1.36,5880.0,115
4,2019-05-05,22,1610,1610. 화랑대역 2번출구 앞,단체권,NaN,20대,2,313.25,2.82,12170.0,97
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2019-05-24,9,1712,1712. 창동역공영주차장앞,정기권,NaN,20대,1,188.57,0.94,4070.0,22
999996,2019-05-24,9,1814,1814. 두산위브아파트 옆 상가건물 앞,정기권,NaN,20대,4,141.58,1.32,5650.0,30
999997,2019-05-24,9,220,220. 미성아파트 A동 앞,정기권,NaN,20대,1,13.97,0.13,560.0,3
999998,2019-05-24,9,1822,1822. 서울 시흥동우체국 앞,정기권,NaN,20대,1,94.53,0.76,3270.0,15
999999,2019-05-24,9,1823,1823. 상신정비공업 앞,정기권,NaN,20대,2,81.59,0.62,2700.0,23

In [17]:
data4.dtypes

대여일자       object
대여시간        int64
대여소번호       int64
대여소명       object
대여구분코드     object
성별         object
연령대코드      object
이용건수        int64
운동량        object
탄소량        object
이동거리      float64
사용시간        int64
dtype: object

In [18]:
data5 = pd.read_csv('data/서울특별시 공공자전거 시간대별 대여정보_201812_201905(5).csv', encoding = 'utf-8')
data5

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-05-24,9,1824,1824. 독산근린공원 입구,정기권,NaN,20대,1,11.54,0.13,550.0,2
1,2019-05-24,9,1830,1830. 빅마켓 금천점 앞,정기권,NaN,20대,1,42.74,0.33,1420.0,8
2,2019-05-24,9,1831,1831. 메이퀸웨딩컨벤션 앞,정기권,NaN,20대,1,54.39,0.48,2050.0,10
3,2019-05-24,9,1833,1833. 독산역 1번출구 앞 자전거보관소,정기권,NaN,20대,2,91.21,0.92,3950.0,23
4,2019-05-24,9,1503,1503. 이디야 커피 수유역점 앞,정기권,NaN,20대,3,286.08,2.29,9850.0,61
...,...,...,...,...,...,...,...,...,...,...,...,...
428521,2019-05-31,23,432,432. 마포중앙도서관,단체권,F,20대,1,75.16,0.68,2920.0,18
428522,2019-05-31,23,133,133. 해담는다리,단체권,F,20대,2,373.75,3.37,14520.0,117
428523,2019-05-31,23,3509,3509. 세종사이버대학교,단체권,M,20대,2,290.18,2.65,11450.0,74
428524,2019-05-31,23,1235,1235. 잠실트리지움310동 옆,단체권,M,20대,2,316.86,2.86,12310.0,100
428525,2019-05-31,23,2219,"2219. 고속터미널역 8-1번, 8-2번 출구 사이",단체권,M,20대,3,1034.72,8.20,35310.0,181

In [19]:
data5.dtypes

대여일자       object
대여시간        int64
대여소번호       int64
대여소명       object
대여구분코드     object
성별         object
연령대코드      object
이용건수        int64
운동량        object
탄소량        object
이동거리      float64
사용시간        int64
dtype: object

In [24]:
data1 = data1[data1['대여일자']>='2019-01-01']
final_data = pd.concat([data1,data2,data3,data4,data5],ignore_index=True)
final_data

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-01-01,0,458,458. 광화문역 5번출구,정기권,F,~10대,1,41.96,0.38,1630.0,29
1,2019-01-01,0,2159,2159. 인헌초교,정기권,F,20대,1,27.23,0.29,1250.0,7
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,정기권,F,20대,1,20.18,0.23,980.0,5
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,정기권,F,20대,1,7.48,0.1,420.0,4
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,정기권,F,20대,1,25.7,0.26,1100.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...
3993748,2019-05-31,23,432,432. 마포중앙도서관,단체권,F,20대,1,75.16,0.68,2920.0,18
3993749,2019-05-31,23,133,133. 해담는다리,단체권,F,20대,2,373.75,3.37,14520.0,117
3993750,2019-05-31,23,3509,3509. 세종사이버대학교,단체권,M,20대,2,290.18,2.65,11450.0,74
3993751,2019-05-31,23,1235,1235. 잠실트리지움310동 옆,단체권,M,20대,2,316.86,2.86,12310.0,100
3993752,2019-05-31,23,2219,"2219. 고속터미널역 8-1번, 8-2번 출구 사이",단체권,M,20대,3,1034.72,8.20,35310.0,181

In [25]:
import glob

In [26]:
path = './data/자전거정보'
all_files = glob.glob(path + "/서울특별시 공공자전거 이용정보(시간대별)*.csv")
ls = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    ls.append(df)
total_menu = pd.concat(ls, axis=0, ignore_index=True)
total_menu

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-06-01,0,740,740. 으뜸공원,정기권,NaN,~10대,1,42.91,0.40,1720.0,10
1,2019-06-01,0,951,951. 연신내역 6번출구옆,정기권,NaN,~10대,2,246.80,2.05,8830.0,55
2,2019-06-01,0,512,512. 뚝섬역 1번 출구 옆,정기권,NaN,~10대,1,60.98,0.36,1540.0,8
3,2019-06-01,0,1531,1531. 미아사거리 1번 출구,정기권,NaN,~10대,1,130.09,1.02,4380.0,24
4,2019-06-01,0,1656,1656. 중앙하이츠 아파트 입구,정기권,NaN,~10대,1,126.90,1.14,4930.0,23
...,...,...,...,...,...,...,...,...,...,...,...,...
9520645,2019-11-16,10,107,107. 신한은행 서교동금융센터점 앞,정기권,NaN,30대,2,37.42,0.39,1670.0,133
9520646,2019-11-16,10,1925,1925. 동양미래대학교 정문 옆,정기권,NaN,30대,2,9.41,0.08,360.0,13
9520647,2019-11-16,10,2032,2032. 이수역 11번출구쪽,정기권,NaN,30대,2,36.71,0.24,1030.0,9
9520648,2019-11-16,10,2034,2034. 사당역 7번출구쪽,정기권,NaN,30대,1,54.35,0.44,1880.0,15
9520649,2019-11-16,10,1221,1221. 삼전사거리 포스코더샵,정기권,NaN,30대,1,40.39,0.28,1200.0,14

In [28]:
total_menu = total_menu.sort_values(by='대여일자', ascending=True)
total_menu

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-06-01,0,740,740. 으뜸공원,정기권,NaN,~10대,1,42.91,0.40,1720.0,10
39978,2019-06-01,18,1185,1185. 등촌9단지,정기권,F,20대,2,74.48,0.71,3080.0,20
39979,2019-06-01,18,2509,2509. KT반포지사,정기권,F,20대,1,51.99,0.47,2020.0,15
39980,2019-06-01,18,3533,3533. 건대입구역 사거리(롯데백화점),정기권,F,20대,3,301.96,3.01,13010.0,81
39981,2019-06-01,18,3536,3536. 중앙농협(자양동),정기권,F,20대,1,34.39,0.39,1670.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1498537,2019-11-30,11,418,418. 월드컵경기장역 3번출구 옆,정기권,M,30대,1,285.48,1.86,8010.0,111
1498536,2019-11-30,11,2148,2148. 낙성대역 3번출구 뒤,정기권,M,30대,1,1534.58,12.84,55360.0,22
1498535,2019-11-30,11,419,419. 홈플러스 앞,정기권,M,30대,2,31.10,0.24,1020.0,18
1498565,2019-11-30,11,3535,3535. 중곡사거리(국민은행),정기권,M,40대,1,2354.41,14.83,63930.0,38
1520648,2019-11-30,23,126,126. 서강대 후문 옆,단체권,NaN,20대,2,170.16,1.22,5240.0,38

In [29]:
total_menu.dtypes

대여일자       object
대여시간        int64
대여소번호       int64
대여소명       object
대여구분코드     object
성별         object
연령대코드      object
이용건수        int64
운동량        object
탄소량        object
이동거리      float64
사용시간        int64
dtype: object

In [30]:
added_data = pd.read_csv('data/Bicycle_19_12.csv', encoding = 'utf-8')
added_data

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-12-01,0,504,504. 신자초교입구교차로,정기권,NaN,~10대,3,74.84,0.67,2880.0,17
1,2019-12-01,0,1029,1029. 롯데 시네마,정기권,NaN,~10대,1,246.71,2.06,8900.0,45
2,2019-12-01,0,1153,"1153. 발산역 1번, 9번 인근 대여소",정기권,NaN,~10대,1,25.60,0.23,1010.0,12
3,2019-12-01,0,512,512. 뚝섬역 1번 출구 옆,정기권,NaN,~10대,1,78.59,0.73,3150.0,17
4,2019-12-01,0,1528,1528. 삼각산동 주민센터,정기권,NaN,~10대,1,26.15,0.22,930.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
776951,2019-12-31,23,544,544. 광남중학교,단체권,NaN,~10대,4,340.36,3.12,13430.0,146
776952,2019-12-31,23,337,337. 창경궁 입구,단체권,NaN,20대,2,106.35,0.87,3730.0,26
776953,2019-12-31,23,428,428. 명보사거리,단체권,F,20대,2,77.82,0.91,3930.0,62
776954,2019-12-31,23,1059,1059. 래미안 강동팰리스(102동),단체권,M,~10대,2,179.67,1.62,6980.0,116
776955,2019-12-31,23,1235,1235. 잠실트리지움310동 옆,단체권,M,20대,2,285.44,1.97,8480.0,107

In [31]:
final_df = pd.concat([final_data,total_menu,added_data],ignore_index=True)
final_df

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-01-01,0,458,458. 광화문역 5번출구,정기권,F,~10대,1,41.96,0.38,1630.0,29
1,2019-01-01,0,2159,2159. 인헌초교,정기권,F,20대,1,27.23,0.29,1250.0,7
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,정기권,F,20대,1,20.18,0.23,980.0,5
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,정기권,F,20대,1,7.48,0.1,420.0,4
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,정기권,F,20대,1,25.7,0.26,1100.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...
14291354,2019-12-31,23,544,544. 광남중학교,단체권,NaN,~10대,4,340.36,3.12,13430.0,146
14291355,2019-12-31,23,337,337. 창경궁 입구,단체권,NaN,20대,2,106.35,0.87,3730.0,26
14291356,2019-12-31,23,428,428. 명보사거리,단체권,F,20대,2,77.82,0.91,3930.0,62
14291357,2019-12-31,23,1059,1059. 래미안 강동팰리스(102동),단체권,M,~10대,2,179.67,1.62,6980.0,116
14291358,2019-12-31,23,1235,1235. 잠실트리지움310동 옆,단체권,M,20대,2,285.44,1.97,8480.0,107

In [3]:
import pandas as pd
# df["'대여일자'"] = df["'대여일자'"].apply(lambda x: str(x)[1:-1])
df = pd.read_csv('data/bicycle2017.csv', encoding = 'utf-8')
df.columns = ['man','대여일자','대여시간','대여소번호','대여소','대여구분코드','성별','연령대코드','이용건수','운동량','탄소량','이동거리(M)','사용시간(분)']
del df['man']

In [4]:
df

,대여일자,대여시간,대여소번호,대여소,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),사용시간(분)
0,'2017-01-01','00','230',' 영등포구청역 1번출구','정기','F','~10대',1,31.27,0.39,1680,155
1,'2017-01-01','00','315',' 신한은행 안국역지점 옆','정기','F','20대',1,47.32,0.55,2390,15
2,'2017-01-01','00','328',' 탑골공원 앞','정기','F','20대',1,57.92,0.52,2250,13
3,'2017-01-01','00','175',' 홍연2교옆','정기','F','20대',1,133.29,1.53,6600,43
4,'2017-01-01','00','817',' 삼각지역 4번출구 앞','정기','F','20대',1,33.88,0.32,1380,8
...,...,...,...,...,...,...,...,...,...,...,...,...
4196227,'2017-12-31','23','502',' 뚝섬유원지역 1번출구 앞','일일(비회원)','',NaN,1,96.01,0.87,3730,104
4196228,'2017-12-31','23','512',' 뚝섬역 1번 출구 옆','일일(비회원)','M',NaN,1,207.98,1.87,8080,48
4196229,'2017-12-31','23','1022',' 길동 사거리(초소앞)','단체','F','20대',3,439.09,4.60,19800,160
4196230,'2017-12-31','23','540',' 군자역 7번출구 베스트샵 앞','단체','M','30대',2,581.53,4.55,19580,191
4196231,'2017-12-31','23','1245',' 문정 법조단지9','단체','M','30대',2,613.62,4.23,18230,142

In [6]:
df[df['연령대코드']=="'a'"]

Empty DataFrame
Columns: [대여일자, 대여시간, 대여소번호, 대여소, 대여구분코드, 성별, 연령대코드, 이용건수, 운동량, 탄소량, 이동거리(M), 사용시간(분)]
Index: []

In [34]:
for i in range(7):
    df[df.columns[i]] = df[df.columns[i]].apply(lambda x: str(x)[1:-1])

In [37]:
df.to_csv("test.csv")

In [35]:
df.dtypes

대여일자        object
대여시간        object
대여소번호       object
대여소         object
대여구분코드      object
성별          object
연령대코드       object
이용건수         int64
운동량        float64
탄소량        float64
이동거리(M)      int64
사용시간(분)      int64
dtype: object

In [36]:
final_df.dtypes

대여일자       object
대여시간        int64
대여소번호       int64
대여소명       object
대여구분코드     object
성별         object
연령대코드      object
이용건수        int64
운동량        object
탄소량        object
이동거리      float64
사용시간        int64
dtype: object

In [116]:
final_df

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-01-01,0,458,458. 광화문역 5번출구,정기권,F,~10대,1,41.96,0.38,1630.0,29
1,2019-01-01,0,2159,2159. 인헌초교,정기권,F,20대,1,27.23,0.29,1250.0,7
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,정기권,F,20대,1,20.18,0.23,980.0,5
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,정기권,F,20대,1,7.48,0.1,420.0,4
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,정기권,F,20대,1,25.7,0.26,1100.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...
14291354,2019-12-31,23,544,544. 광남중학교,단체권,NaN,~10대,4,340.36,3.12,13430.0,146
14291355,2019-12-31,23,337,337. 창경궁 입구,단체권,NaN,20대,2,106.35,0.87,3730.0,26
14291356,2019-12-31,23,428,428. 명보사거리,단체권,F,20대,2,77.82,0.91,3930.0,62
14291357,2019-12-31,23,1059,1059. 래미안 강동팰리스(102동),단체권,M,~10대,2,179.67,1.62,6980.0,116
14291358,2019-12-31,23,1235,1235. 잠실트리지움310동 옆,단체권,M,20대,2,285.44,1.97,8480.0,107

In [131]:
final_df['사용시간'].groupby(final_df['성별']).count()

성별
F    2625183
M    4481939
f       3737
m       5832
Name: 사용시간, dtype: int64

In [136]:
final_df[(final_df['성별']=='f')|(final_df['성별']=='m')]

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
4592471,2019-06-12,18,311,311. 서울광장 옆,정기권,f,50대,1,0.00,0.00,0.0,38
4592655,2019-06-12,18,1008,1008. 암사역 3번출구(국민은행앞),정기권,f,40대,1,37.68,0.40,1730.0,16
4592789,2019-06-12,18,1530,1530. 광산사거리,정기권,m,20대,1,82.33,0.54,2310.0,17
4592819,2019-06-12,18,1412,1412. 면목초등학교,정기권,m,~10대,1,73.77,0.80,3450.0,24
4593109,2019-06-12,18,1336,1336. 성북3교 위,정기권,m,50대,1,265.22,2.07,8930.0,40
...,...,...,...,...,...,...,...,...,...,...,...,...
14285016,2019-12-31,16,807,807. 서울역 12번 출구 앞,정기권,f,20대,1,7.92,0.09,400.0,1
14287470,2019-12-31,18,155,155. 가좌역1 번출구 뒤,정기권,f,30대,1,21.62,0.19,840.0,6
14287625,2019-12-31,18,134,134. 연세로 명물길,정기권,m,20대,1,39.44,0.28,1200.0,6
14289293,2019-12-31,20,949,949. 연신내역 1번 출구,정기권,m,20대,1,68.19,0.48,2050.0,10
14290006,2019-12-31,21,905,905. 구파발역 2번출구,정기권,m,20대,1,66.20,0.46,1990.0,8

In [137]:
zzzzz
jinsu_df = final_df

In [138]:
jinsu_df['사용시간'].groupby(jinsu_df['성별']).count()

성별
F    2625183
M    4481939
f       3737
m       5832
Name: 사용시간, dtype: int64

In [139]:
jinsu_df['성별'] = np.where(jinsu_df['성별']=='f','F',jinsu_df['성별'])
jinsu_df['성별'] = np.where(jinsu_df['성별']=='m','M',jinsu_df['성별'])

jinsu_df

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2019-01-01,0,458,458. 광화문역 5번출구,정기권,F,~10대,1,41.96,0.38,1630.0,29
1,2019-01-01,0,2159,2159. 인헌초교,정기권,F,20대,1,27.23,0.29,1250.0,7
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,정기권,F,20대,1,20.18,0.23,980.0,5
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,정기권,F,20대,1,7.48,0.1,420.0,4
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,정기권,F,20대,1,25.7,0.26,1100.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...
14291354,2019-12-31,23,544,544. 광남중학교,단체권,NaN,~10대,4,340.36,3.12,13430.0,146
14291355,2019-12-31,23,337,337. 창경궁 입구,단체권,NaN,20대,2,106.35,0.87,3730.0,26
14291356,2019-12-31,23,428,428. 명보사거리,단체권,F,20대,2,77.82,0.91,3930.0,62
14291357,2019-12-31,23,1059,1059. 래미안 강동팰리스(102동),단체권,M,~10대,2,179.67,1.62,6980.0,116
14291358,2019-12-31,23,1235,1235. 잠실트리지움310동 옆,단체권,M,20대,2,285.44,1.97,8480.0,107

In [140]:
jinsu_df['년월'] = [x[:7] for x in jinsu_df['대여일자']]
jinsu_df

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,년월
0,2019-01-01,0,458,458. 광화문역 5번출구,정기권,F,~10대,1,41.96,0.38,1630.0,29,2019-01
1,2019-01-01,0,2159,2159. 인헌초교,정기권,F,20대,1,27.23,0.29,1250.0,7,2019-01
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,정기권,F,20대,1,20.18,0.23,980.0,5,2019-01
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,정기권,F,20대,1,7.48,0.1,420.0,4,2019-01
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,정기권,F,20대,1,25.7,0.26,1100.0,7,2019-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14291354,2019-12-31,23,544,544. 광남중학교,단체권,NaN,~10대,4,340.36,3.12,13430.0,146,2019-12
14291355,2019-12-31,23,337,337. 창경궁 입구,단체권,NaN,20대,2,106.35,0.87,3730.0,26,2019-12
14291356,2019-12-31,23,428,428. 명보사거리,단체권,F,20대,2,77.82,0.91,3930.0,62,2019-12
14291357,2019-12-31,23,1059,1059. 래미안 강동팰리스(102동),단체권,M,~10대,2,179.67,1.62,6980.0,116,2019-12
14291358,2019-12-31,23,1235,1235. 잠실트리지움310동 옆,단체권,M,20대,2,285.44,1.97,8480.0,107,2019-12

In [141]:
final_df

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,년월
0,2019-01-01,0,458,458. 광화문역 5번출구,정기권,F,~10대,1,41.96,0.38,1630.0,29,2019-01
1,2019-01-01,0,2159,2159. 인헌초교,정기권,F,20대,1,27.23,0.29,1250.0,7,2019-01
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,정기권,F,20대,1,20.18,0.23,980.0,5,2019-01
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,정기권,F,20대,1,7.48,0.1,420.0,4,2019-01
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,정기권,F,20대,1,25.7,0.26,1100.0,7,2019-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14291354,2019-12-31,23,544,544. 광남중학교,단체권,NaN,~10대,4,340.36,3.12,13430.0,146,2019-12
14291355,2019-12-31,23,337,337. 창경궁 입구,단체권,NaN,20대,2,106.35,0.87,3730.0,26,2019-12
14291356,2019-12-31,23,428,428. 명보사거리,단체권,F,20대,2,77.82,0.91,3930.0,62,2019-12
14291357,2019-12-31,23,1059,1059. 래미안 강동팰리스(102동),단체권,M,~10대,2,179.67,1.62,6980.0,116,2019-12
14291358,2019-12-31,23,1235,1235. 잠실트리지움310동 옆,단체권,M,20대,2,285.44,1.97,8480.0,107,2019-12

In [142]:
jinsu_df['사용시간'].groupby(jinsu_df['년월']).count()

년월
2019-01     292732
2019-02     277530
2019-03     532335
2019-04    1197464
2019-05    1693692
2019-06    1736613
2019-07    1645259
2019-08    1532322
2019-09    1544480
2019-10    1817795
2019-11    1244181
2019-12     776956
Name: 사용시간, dtype: int64

In [143]:
jinsu_df['연령대코드'] = np.where(jinsu_df['연령대코드']=='~10대','10대이하',jinsu_df['연령대코드'])
jinsu_df['연령대코드'] = np.where(jinsu_df['연령대코드']=='70대~','70대이상',jinsu_df['연령대코드'])

grouped_data = jinsu_df.groupby(['년월', '연령대코드'])['사용시간']
grouped_data.agg(['mean','std','sum'])

                    mean        std       sum
년월      연령대코드
2019-01 10대이하  20.338958  37.637306     40983
        20대    18.531429  26.084058   1985865
        30대    19.194818  24.215903   1585991
        40대    21.152071  26.518230   1214150
        50대    20.524811  25.524389    659729
        60대    23.657755  25.607856    205302
        70대이상  21.409679  23.352758     57956
2019-02 10대이하  23.959154  29.844646     48685
        20대    21.423799  28.535461   2277457
        30대    21.351000  28.166616   1655279
        40대    22.590053  27.606481   1178252
        50대    21.825579  24.929608    640297
        60대    25.251139  27.010696    193954
        70대이상  23.487149  24.930213     58483
2019-03 10대이하  27.049785  41.804830    189078
        20대    24.559682  33.123623   5608621
        30대    23.499208  28.585287   3293320
        40대    24.100127  28.790562   2177085
        50대    22.948156  26.155039   1149083
        60대    25.724304  27.860366    330866
        70대이상  23.535654  25.705436     83834
2019-04 10대이하  36.140193  50.944072   1265485
        20대    35.083723  54.589807  19578963
        30대    30.015121  35.097102   8940304
        40대    28.305884  32.160860   5185836
        50대    25.797295  28.474344   2425797
        60대    28.876213  29.364235    684193
        70대이상  24.853131  35.783069    138929
2019-05 10대이하  40.928132  56.905494   2713617
        20대    39.752932  62.212217  32095245
        30대    32.482712  37.049026  13333796
        40대    30.396125  34.077136   7368811
        50대    27.931467  29.886497   3596344
        60대    30.544181  31.078124    956827
        70대이상  27.275302  31.013530    191609
2019-06 10대이하  33.524475  44.816026   2676527
        20대    36.922631  51.147102  29784563
        30대    32.357448  36.515787  13588834
        40대    31.394147  34.613558   7916505
        50대    29.197652  67.214850   4006239
        60대    30.782981  30.868709   1037879
        70대이상  28.913876  31.251723    203785
2019-07 10대이하  33.169295  44.452411   2959265
        20대    34.241699  45.937498  25747977
        30대    29.587163  33.868332  11280017
        40대    28.700431  31.491135   6919387
        50대    27.530248  29.225185   3844021
        60대    29.857297  30.167044   1048648
        70대이상  26.971739  29.000579    188964
2019-08 10대이하  37.176543  52.918441   3158705
        20대    39.205212  58.507700  27790693
        30대    33.943850  41.319646  12055939
        40대    32.524363  38.408275   7049428
        50대    30.561952  34.664995   3914222
        60대    32.951103  35.896800   1048570
        70대이상  29.286910  31.016436    195988
2019-09 10대이하  34.157043  46.504229   3040660
        20대    39.067958  59.537269  27527088
        30대    33.955176  38.672968  12327834
        40대    32.397918  35.888203   7215632
        50대    29.531241  31.278051   3761217
        60대    32.015406  31.989746    991229
        70대이상  31.045569  31.279790    209837
2019-10 10대이하  32.707259  45.637797   3737295
        20대    35.215521  49.782740  28325921
        30대    32.276331  37.263800  13825889
        40대    32.176678  36.231246   8754695
        50대    28.673901  30.613510   4399494
        60대    30.580060  31.186765   1141309
        70대이상  29.459937  31.129782    234943
2019-11 10대이하  26.906332  34.908454   2193754
        20대    26.161253  32.378898  13863528
        30대    25.232895  29.291033   7168287
        40대    26.184094  29.469182   5181518
        50대    24.413755  26.275023   2833851
        60대    27.486383  28.885753    792295
        70대이상  26.116963  27.550566    152732
2019-12 10대이하  24.291300  33.556958   1197221
        20대    20.427324  25.257833   6510617
        30대    21.058496  25.262492   3688206
        40대    22.304122  25.604490   2907833
        50대    21.314393  23.910105   1669599
        60대    25.454115  27.625851    521173
        70대이상  25.422121  27.576738    117679

In [144]:
import googlemaps

In [145]:
gmaps_key = "AIzaSyBQj_mdpMJcgLdXQ9-4cuqDFgUd62KwisM"
gmaps = googlemaps.Client(key=gmaps_key)

In [146]:
del jinsu_df['대여구분코드']
del jinsu_df['이용건수']
jinsu_df

,대여일자,대여시간,대여소번호,대여소명,성별,연령대코드,운동량,탄소량,이동거리,사용시간,년월
0,2019-01-01,0,458,458. 광화문역 5번출구,F,10대이하,41.96,0.38,1630.0,29,2019-01
1,2019-01-01,0,2159,2159. 인헌초교,F,20대,27.23,0.29,1250.0,7,2019-01
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,F,20대,20.18,0.23,980.0,5,2019-01
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,F,20대,7.48,0.1,420.0,4,2019-01
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,F,20대,25.7,0.26,1100.0,7,2019-01
...,...,...,...,...,...,...,...,...,...,...,...
14291354,2019-12-31,23,544,544. 광남중학교,NaN,10대이하,340.36,3.12,13430.0,146,2019-12
14291355,2019-12-31,23,337,337. 창경궁 입구,NaN,20대,106.35,0.87,3730.0,26,2019-12
14291356,2019-12-31,23,428,428. 명보사거리,F,20대,77.82,0.91,3930.0,62,2019-12
14291357,2019-12-31,23,1059,1059. 래미안 강동팰리스(102동),M,10대이하,179.67,1.62,6980.0,116,2019-12
14291358,2019-12-31,23,1235,1235. 잠실트리지움310동 옆,M,20대,285.44,1.97,8480.0,107,2019-12

In [147]:
index = jinsu_df.loc[0,'대여소명']

In [148]:
jinsu_100df = jinsu_df.loc[0:100,:]

In [149]:
jinsu_100df

,대여일자,대여시간,대여소번호,대여소명,성별,연령대코드,운동량,탄소량,이동거리,사용시간,년월
0,2019-01-01,0,458,458. 광화문역 5번출구,F,10대이하,41.96,0.38,1630.0,29,2019-01
1,2019-01-01,0,2159,2159. 인헌초교,F,20대,27.23,0.29,1250.0,7,2019-01
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,F,20대,20.18,0.23,980.0,5,2019-01
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,F,20대,7.48,0.1,420.0,4,2019-01
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,F,20대,25.7,0.26,1100.0,7,2019-01
5,2019-01-01,0,555,555. 구의3동주민센터,F,20대,86.55,0.55,2350.0,21,2019-01
6,2019-01-01,0,1709,1709. 쌍문역4번출구 주변,F,20대,15.7,0.14,610.0,4,2019-01
7,2019-01-01,0,2140,2140. 신림1교 교차로,F,20대,30.93,0.33,1420.0,9,2019-01
8,2019-01-01,0,2145,2145. 은천초등학교 육교,F,20대,27.8,0.28,1190.0,8,2019-01
9,2019-01-01,0,1241,1241. 문정 법조단지5,F,20대,65.12,0.59,2530.0,13,2019-01
10,2019-01-01,0,1246,1246. 문정 법조단지10,F,20대,21.61,0.14,620.0,3,2019-01
11,2019-01-01,0,305,305. 종로구청 옆,F,30대,37.07,0.33,1440.0,10,2019-01
12,2019-01-01,0,1351,1351. 안암2교 옆,F,30대,41.82,0.41,1760.0,7,2019-01
13,2019-01-01,0,274,274. 영등포역지하쇼핑센타 5번출구,F,30대,26.2,0.34,1470.0,10,2019-01
14,2019-01-01,0,2401,2401. 밀알학교 입구 (삼성서울병원 입구),F,30대,34.22,0.35,1490.0,8,2019-01
15,2019-01-01,0,455,455. 삼익한의원,F,30대,165.77,1.49,6440.0,36,2019-01
16,2019-01-01,0,152,152. 마포구민체육센터 앞,F,30대,20.59,0.23,1000.0,5,2019-01
17,2019-01-01,0,642,642. 신답역 사거리,F,30대,148.63,1.78,7660.0,45,2019-01
18,2019-01-01,0,271,271. 샛강생태공원방문자센터 앞,F,30대,26.85,0.26,1130.0,5,2019-01
19,2019-01-01,0,1209,1209. 잠실나루역 (2번 출구 쪽),F,30대,192.28,1.73,7470.0,39,2019-01
20,2019-01-01,0,1506,1506. 강북문화예술회관,F,30대,36.04,0.32,1400.0,9,2019-01
21,2019-01-01,0,1625,1625. 상계역(4번출구),F,30대,37.42,0.41,1750.0,8,2019-01
22,2019-01-01,0,731,731. 서울시 도로환경관리센터,F,40대,81.34,0.92,3950.0,27,2019-01
23,2019-01-01,0,1458,1458. 상봉터미널2,F,40대,35.8,0.26,1130.0,6,2019-01
24,2019-01-01,0,2601,2601. 석촌호수 서호사거리,F,40대,39.2,0.31,1320.0,8,2019-01
25,2019-01-01,0,126,126. 서강대 후문 옆,F,40대,31.36,0.31,1320.0,7,2019-01
26,2019-01-01,0,2322,2322. 삼성역 3번 출구,F,40대,29.38,0.25,1060.0,8,2019-01
27,2019-01-01,0,328,328. 탑골공원 앞,F,50대,27.03,0.24,1050.0,7,2019-01
28,2019-01-01,0,1408,1408. 먹골역 6번출구 앞,F,50대,19.39,0.24,1020.0,4,2019-01
29,2019-01-01,0,1634,1634. 당고개공원 대여소,F,50대,72.35,0.49,2100.0,15,2019-01
30,2019-01-01,0,2230,2230.이수역 4번 출구,F,50대,15.7,0.14,610.0,3,2019-01
31,2019-01-01,0,823,823. 효창동주민센터 앞,F,60대,10.26,0.08,360.0,1,2019-01
32,2019-01-01,0,1911,1911. 구로디지털단지역 앞,F,60대,8.04,0.07,290.0,2,2019-01
33,2019-01-01,0,106,106. 합정역 7번출구 앞,F,60대,24.24,0.2,850.0,14,2019-01
34,2019-01-01,0,2115,2115. 관악농협농산물백화점,F,60대,19.68,0.16,710.0,5,2019-01
35,2019-01-01,0,901,901. 응암1동사무소,F,70대이상,20.59,0.19,800.0,5,2019-01
36,2019-01-01,0,746,746. 목동2단지 상가,M,20대,68.11,0.4,1720.0,7,2019-01
37,2019-01-01,0,935,935. 역촌역 1번 출구,M,20대,34.46,0.26,1130.0,4,2019-01
38,2019-01-01,0,1029,1029. 롯데 시네마,M,20대,53.02,0.48,2060.0,9,2019-01
39,2019-01-01,0,1251,1251. 석촌역 2번출구,M,20대,100.43,0.74,3170.0,26,2019-01
40,2019-01-01,0,1533,"1533. 번동 주공3, 4단지 교차로",M,20대,54.49,0.4,1720.0,10,2019-01
41,2019-01-01,0,1535,1535. 효성인텔리안 앞,M,20대,36.55,0.33,1420.0,8,2019-01
42,2019-01-01,0,1654,1654. 당고개입구 오거리,M,20대,21.03,0.14,590.0,3,2019-01
43,2019-01-01,0,1656,1656. 중앙하이츠 아파트 입구,M,20대,67.7,0.61,2630.0,13,2019-01
44,2019-01-01,0,1337,1337. 돈암성당 옆,M,20대,31.92,0.29,1240.0,7,2019-01
45,2019-01-01,0,1351,1351. 안암2교 옆,M,20대,259.15,1.95,8390.0,36,2019-01
46,2019-01-01,0,307,307. 서울역사박물관 앞,M,20대,195.7,1.64,7060.0,42,2019-01
47,2019-01-01,0,311,311. 서울광장 옆,M,20대,482.77,3.75,16190.0,107,2019-01
48,2019-01-01,0,646,646. 장한평역 1번출구 (국민은행앞),M,20대,35.48,0.26,1120.0,5,2019-01
49,2019-01-01,0,275,275. 신동아아파트,M,20대,35.64,0.29,1250.0,5,2019-01
50,2019-01-01,0,320,320. 을지로입구역 4번출구 앞,M,20대,2970.55,23.52,101370.0,20,2019-01
51,2019-01-01,0,393,393. 동대문역 8번 출구,M,20대,65.34,0.51,2200.0,11,2019-01
52,2019-01-01,0,1050,1050. 둔촌역 3번 출입구,M,20대,58.94,0.53,2290.0,10,2019-01
53,2019-01-01,0,329,329. 청계2가 사거리 옆,M,20대,55.73,0.53,2270.0,11,2019-01
54,2019-01-01,0,1686,1686. 온수골사거리(스타벅스앞),M,20대,29.11,0.23,980.0,6,2019-01
55,2019-01-01,0,661,661. 경희대학교 청운관,M,20대,57.4,0.52,2230.0,11,2019-01
56,2019-01-01,0,2069,2069. 숭실대 입구역3번 출구 앞,M,20대,214.28,1.79,7730.0,72,2019-01
57,2019-01-01,0,356,356. KT혜화지사 앞,M,20대,41.41,0.39,1660.0,7,2019-01
58,2019-01-01,0,113,113. 홍대입구역 2번출구 앞,M,20대,34.4,0.28,1190.0,8,2019-01
59,2019-01-01,0,384,384. 종로학원본원,M,20대,51.32,0.38,1620.0,11,2019-01
60,2019-01-01,0,147,147. 마포역 4번출구 뒤,M,20대,21.86,0.16,690.0,3,2019-01
61,2019-01-01,0,166,166. 가재울 초등학교,M,20대,77.47,0.68,2920.0,9,2019-01
62,2019-01-01,0,520,520. 상왕십리역 4번 출구 앞,M,20대,65.91,0.53,2280.0,8,2019-01
63,2019-01-01,0,522,522. 금호역 1번출구 앞,M,20대,26.43,0.21,890.0,3,2019-01
64,2019-01-01,0,548,548. 자양나들목,M,20대,45.3,0.33,1430.0,7,2019-01
65,2019-01-01,0,129,129. 신촌역(2호선) 6번출구 옆,M,20대,1343.89,12.11,52210.0,12,2019-01
66,2019-01-01,0,703,703. 오목교역 7번출구 앞,M,20대,69.24,0.62,2690.0,16,2019-01
67,2019-01-01,0,807,807. 서울역 12번 출구 앞,M,20대,66.52,0.53,2270.0,13,2019-01
68,2019-01-01,0,195,195. 모래내고가차도,M,20대,42.77,0.5,2160.0,10,2019-01
69,2019-01-01,0,198,198. 충정2교,M,20대,102.96,0.93,4000.0,20,2019-01
70,2019-01-01,0,558,558. 성동광진 교육지원청 앞,M,20대,26.69,0.25,1070.0,4,2019-01
71,2019-01-01,0,134,134. 연세로 명물길,M,20대,57.4,0.52,2230.0,12,2019-01
72,2019-01-01,0,551,551. 구의삼성쉐르빌 앞,M,20대,61.78,0.56,2400.0,12,2019-01
73,2019-01-01,0,102,102. 망원역 1번출구 앞,M,20대,78.75,0.76,3260.0,16,2019-01
74,2019-01-01,0,633,633. 청량리 기업은행 앞,M,20대,77.66,0.64,2760.0,15,2019-01
75,2019-01-01,0,637,637. KAIST 경영대학 앞,M,20대,30.93,0.25,1070.0,3,2019-01
76,2019-01-01,0,230,230. 영등포구청역 1번출구,M,20대,40.46,0.3,1310.0,9,2019-01
77,2019-01-01,0,263,263. 근로자회관 사거리,M,20대,36.43,0.27,1150.0,4,2019-01
78,2019-01-01,0,900,900. 은평예술회관,M,20대,86.49,0.63,2730.0,24,2019-01
79,2019-01-01,0,906,906. 연신내역 5번출구150M 아래,M,20대,74.05,0.51,2200.0,13,2019-01
80,2019-01-01,0,926,926. 불광역 8번출구,M,20대,50.45,0.45,1960.0,12,2019-01
81,2019-01-01,0,1008,1008. 암사역 3번출구(국민은행앞),M,20대,25.31,0.18,770.0,5,2019-01
82,2019-01-01,0,1011,1011. LIGA 아파트 앞,M,20대,727.04,5.39,23240.0,6,2019-01
83,2019-01-01,0,1015,1015. 샛마을 근린공원,M,20대,27.54,0.26,1140.0,5,2019-01
84,2019-01-01,0,1113,1113. 서남환경공원 버스정류장,M,20대,57.4,0.52,2230.0,15,2019-01
85,2019-01-01,0,1124,1124. 발산역 6번출구옆(다이소앞),M,20대,15.7,0.14,610.0,4,2019-01
86,2019-01-01,0,1141,1141. 곰달래 문화복지센터 1-1,M,20대,64.86,0.58,2520.0,14,2019-01
87,2019-01-01,0,1322,1322. 래미안라센트아파트 103동 앞,M,20대,60.05,0.6,2570.0,15,2019-01
88,2019-01-01,0,1441,1441. 신내능말공원,M,20대,265.12,2.39,10300.0,51,2019-01
89,2019-01-01,0,1421,1421. 신내역 4번출구,M,20대,96.55,0.9,3870.0,21,2019-01
90,2019-01-01,0,1610,1610. 화랑대역 2번출구 앞,M,20대,61.78,0.56,2400.0,18,2019-01
91,2019-01-01,0,1708,1708. 보건소사거리(다비치안경창동점),M,20대,40.67,0.37,1580.0,6,2019-01
92,2019-01-01,0,1901,1901. 신도림동주민센터 앞,M,20대,72.9,0.61,2630.0,16,2019-01
93,2019-01-01,0,223,223. 진주아파트상가 앞,M,20대,14.67,0.13,570.0,3,2019-01
94,2019-01-01,0,2129,2129. 낙성대 과학전시관,M,20대,43.91,0.41,1760.0,5,2019-01
95,2019-01-01,0,2315,2315. 봉은사역 5번출구 옆,M,20대,61.36,0.69,2980.0,18,2019-01
96,2019-01-01,0,1125,1125. 명덕고교입구(영종빌딩),M,20대,41.58,0.35,1500.0,8,2019-01
97,2019-01-01,0,1431,1431. 중랑구청 사거리,M,20대,65.97,0.55,2380.0,8,2019-01
98,2019-01-01,0,1620,1620. 중계동 노원구민체육센터 옆(중1-2),M,20대,1578.56,12.33,53150.0,7,2019-01
99,2019-01-01,0,2119,2119. 중앙동 동진빌딩,M,20대,40.99,0.32,1380.0,7,2019-01
100,2019-01-01,0,1210,1210. 롯데월드타워(잠실역2번출구 쪽),M,20대,35.52,0.27,1150.0,8,2019-01

In [150]:
address=[]
for n in jinsu_df.index:
    length = len(str(jinsu_df['대여소번호'][n]))
    string = '서울특별시' + jinsu_df['대여소명'][n][length+1:]
    address.append(string)

In [151]:
jinsu_df['수정된주소']=address
jinsu_df

,대여일자,대여시간,대여소번호,대여소명,성별,연령대코드,운동량,탄소량,이동거리,사용시간,년월,수정된주소
0,2019-01-01,0,458,458. 광화문역 5번출구,F,10대이하,41.96,0.38,1630.0,29,2019-01,서울특별시 광화문역 5번출구
1,2019-01-01,0,2159,2159. 인헌초교,F,20대,27.23,0.29,1250.0,7,2019-01,서울특별시 인헌초교
2,2019-01-01,0,1362,1362. 보문역6번출구 앞,F,20대,20.18,0.23,980.0,5,2019-01,서울특별시 보문역6번출구 앞
3,2019-01-01,0,3106,3106. 홍남교 두바퀴쉼터,F,20대,7.48,0.1,420.0,4,2019-01,서울특별시 홍남교 두바퀴쉼터
4,2019-01-01,0,118,118. 광흥창역 2번출구 앞,F,20대,25.7,0.26,1100.0,7,2019-01,서울특별시 광흥창역 2번출구 앞
...,...,...,...,...,...,...,...,...,...,...,...,...
14291354,2019-12-31,23,544,544. 광남중학교,NaN,10대이하,340.36,3.12,13430.0,146,2019-12,서울특별시 광남중학교
14291355,2019-12-31,23,337,337. 창경궁 입구,NaN,20대,106.35,0.87,3730.0,26,2019-12,서울특별시 창경궁 입구
14291356,2019-12-31,23,428,428. 명보사거리,F,20대,77.82,0.91,3930.0,62,2019-12,서울특별시 명보사거리
14291357,2019-12-31,23,1059,1059. 래미안 강동팰리스(102동),M,10대이하,179.67,1.62,6980.0,116,2019-12,서울특별시 래미안 강동팰리스(102동)
14291358,2019-12-31,23,1235,1235. 잠실트리지움310동 옆,M,20대,285.44,1.97,8480.0,107,2019-12,서울특별시 잠실트리지움310동 옆

In [152]:
del jinsu_df['대여소번호']
del jinsu_df['대여소명']
jinsu_df

,대여일자,대여시간,성별,연령대코드,운동량,탄소량,이동거리,사용시간,년월,수정된주소
0,2019-01-01,0,F,10대이하,41.96,0.38,1630.0,29,2019-01,서울특별시 광화문역 5번출구
1,2019-01-01,0,F,20대,27.23,0.29,1250.0,7,2019-01,서울특별시 인헌초교
2,2019-01-01,0,F,20대,20.18,0.23,980.0,5,2019-01,서울특별시 보문역6번출구 앞
3,2019-01-01,0,F,20대,7.48,0.1,420.0,4,2019-01,서울특별시 홍남교 두바퀴쉼터
4,2019-01-01,0,F,20대,25.7,0.26,1100.0,7,2019-01,서울특별시 광흥창역 2번출구 앞
...,...,...,...,...,...,...,...,...,...,...
14291354,2019-12-31,23,NaN,10대이하,340.36,3.12,13430.0,146,2019-12,서울특별시 광남중학교
14291355,2019-12-31,23,NaN,20대,106.35,0.87,3730.0,26,2019-12,서울특별시 창경궁 입구
14291356,2019-12-31,23,F,20대,77.82,0.91,3930.0,62,2019-12,서울특별시 명보사거리
14291357,2019-12-31,23,M,10대이하,179.67,1.62,6980.0,116,2019-12,서울특별시 래미안 강동팰리스(102동)
14291358,2019-12-31,23,M,20대,285.44,1.97,8480.0,107,2019-12,서울특별시 잠실트리지움310동 옆

In [156]:
jinsu_df

AssertionError: Gaps in blk ref_locs

AssertionError: Gaps in blk ref_locs

In [7]:
data2 = pd.read_csv('data/최종작업파일/2018_bicycle.csv', encoding = 'utf-8')
data2

C:\Users\BIT\anaconda3\envs\data-anal-env\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (1,4,5,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,0,01/01/2018,0.0,300.0,정동사거리,정기권,F,~10대,1.0,37.32,0.34,1450.0,23.0
1,1,01/01/2018,0.0,505.0,자양사거리 광진아크로텔 앞,정기권,F,20대,1.0,54.83,0.49,2130.0,15.0
2,2,01/01/2018,0.0,1531.0,미아사거리 1번 출구,정기권,F,20대,1.0,78.34,0.73,3140.0,17.0
3,3,01/01/2018,0.0,516.0,광진메디칼 앞,정기권,F,20대,1.0,29.95,0.29,1240.0,5.0
4,4,01/01/2018,0.0,3508.0,화양사거리,정기권,F,20대,1.0,46.09,0.45,1940.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8692601,8692601,2018-12-31,23.0,1623.0,1623. 노원 구민회관,일일권,M,30대,1.0,38.00,0.23,1010.0,6.0
8692602,8692602,2018-12-31,23.0,394.0,394. 경희궁 자이 3단지,일일권,M,40대,1.0,64.86,0.54,2340.0,26.0
8692603,8692603,2018-12-31,23.0,207.0,207. 여의나루역 1번출구 앞,단체권,\N,~10대,2.0,786.85,4.61,19870.0,103.0
8692604,8692604,2018-12-31,23.0,338.0,338. 세운스퀘어 앞,단체권,F,30대,2.0,30.60,0.32,1380.0,14.0
8692605,8692605,2018-12-31,23.0,1308.0,1308. 안암로터리 버스정류장 앞,단체권,M,20대,2.0,283.09,1.96,8410.0,46.0

In [23]:
del data2['Unnamed: 0']

In [24]:
data2.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,연월
0,01/01/2018,0.0,300.0,정동사거리,정기권,F,~10대,1.0,37.32,0.34,1450.0,23.0,2018-01
1,01/01/2018,0.0,505.0,자양사거리 광진아크로텔 앞,정기권,F,20대,1.0,54.83,0.49,2130.0,15.0,2018-01
2,01/01/2018,0.0,1531.0,미아사거리 1번 출구,정기권,F,20대,1.0,78.34,0.73,3140.0,17.0,2018-01
3,01/01/2018,0.0,516.0,광진메디칼 앞,정기권,F,20대,1.0,29.95,0.29,1240.0,5.0,2018-01
4,01/01/2018,0.0,3508.0,화양사거리,정기권,F,20대,1.0,46.09,0.45,1940.0,43.0,2018-01

In [25]:
data2.tail()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,연월
7500786,20/11/2018,23.0,1452.0,겸재교 진입부,일일권,M,30대,1.0,314.82,2.46,10600.0,42.0,2018-11
7500787,20/11/2018,23.0,2177.0,신대방역 2번 출구,일일권,M,30대,1.0,96.23,0.75,3240.0,18.0,2018-11
7500788,20/11/2018,23.0,129.0,신촌역(2호선) 6번출구 옆,일일권,M,30대,1.0,36.07,0.32,1380.0,7.0,2018-11
7500789,20/11/2018,23.0,185.0,마포 신수공원 앞,일일권,M,30대,2.0,241.18,2.17,9370.0,86.0,2018-11
7500790,20/11/2018,23.0,1248.0,방이초등학교,일일권,M,30대,1.0,124.48,0.93,4030.0,16.0,2018-11

In [26]:
data2['연월'] = [x[-4:] +'-' + x[3:5] for x in data2['대여일자']]

In [27]:
data2.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,연월
0,01/01/2018,0.0,300.0,정동사거리,정기권,F,~10대,1.0,37.32,0.34,1450.0,23.0,2018-01
1,01/01/2018,0.0,505.0,자양사거리 광진아크로텔 앞,정기권,F,20대,1.0,54.83,0.49,2130.0,15.0,2018-01
2,01/01/2018,0.0,1531.0,미아사거리 1번 출구,정기권,F,20대,1.0,78.34,0.73,3140.0,17.0,2018-01
3,01/01/2018,0.0,516.0,광진메디칼 앞,정기권,F,20대,1.0,29.95,0.29,1240.0,5.0,2018-01
4,01/01/2018,0.0,3508.0,화양사거리,정기권,F,20대,1.0,46.09,0.45,1940.0,43.0,2018-01

In [28]:
data2['연월'].unique()

array(['2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11'],
      dtype=object)

In [29]:
data2['대여시간'].isnull().sum()

0

In [20]:
data2.tail(100)

,Unnamed: 0,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,연월
7500691,7500691,20/11/2018,23.0,105.0,합정역 5번출구 앞,정기권,M,30대,1.0,90.67,0.74,3180.0,21.0,2018-11
7500692,7500692,20/11/2018,23.0,226.0,샛강역 1번출구 앞,정기권,M,30대,1.0,17.92,0.14,620.0,3.0,2018-11
7500693,7500693,20/11/2018,23.0,2259.0,잠원역 3번-4번 출구사이,정기권,M,30대,1.0,54.14,0.50,2170.0,15.0,2018-11
7500694,7500694,20/11/2018,23.0,2332.0,선릉역3번출구,정기권,M,30대,1.0,22.89,0.16,680.0,8.0,2018-11
7500695,7500695,20/11/2018,23.0,421.0,마포구청 앞,정기권,M,30대,1.0,55.60,0.50,2160.0,9.0,2018-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7500786,7500786,20/11/2018,23.0,1452.0,겸재교 진입부,일일권,M,30대,1.0,314.82,2.46,10600.0,42.0,2018-11
7500787,7500787,20/11/2018,23.0,2177.0,신대방역 2번 출구,일일권,M,30대,1.0,96.23,0.75,3240.0,18.0,2018-11
7500788,7500788,20/11/2018,23.0,129.0,신촌역(2호선) 6번출구 옆,일일권,M,30대,1.0,36.07,0.32,1380.0,7.0,2018-11
7500789,7500789,20/11/2018,23.0,185.0,마포 신수공원 앞,일일권,M,30대,2.0,241.18,2.17,9370.0,86.0,2018-11
7500790,7500790,20/11/2018,23.0,1248.0,방이초등학교,일일권,M,30대,1.0,124.48,0.93,4030.0,16.0,2018-11