In [1]:
import pandas as pd
import numpy as np
from dateutil.parser import parse

#Exercise31
#ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.
#보류

ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
ser

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

In [128]:
#Exercise32
#Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.
#나중에 풀기

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))


array = []


for i in range(10):
    array.append(ser.autocorr())
    
    
print(np.argmax(np.array(array)))
print(array)

0
[0.07205488730679604, 0.07205488730679604, 0.07205488730679604, 0.07205488730679604, 0.07205488730679604, 0.07205488730679604, 0.07205488730679604, 0.07205488730679604, 0.07205488730679604, 0.07205488730679604]

In [78]:
#Exercise33
#Import every 50th row of BostonHousing dataset as a dataframe.


df = pd.read_csv("./data/pds1.txt")

df.head(50)

result_df = df.iloc[[i for i in range(49,len(df)) if (i+1)%50==0]]

result_df.index = [i*50 for i in range(1,len(result_df)+1)]

result_df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
50,0.21977,0.0,6.91,0,0.448,5.602,62.0,6.0877,3,233,17.9,396.90,16.20,19.4
100,0.06860,0.0,2.89,0,0.445,7.416,62.5,3.4952,2,276,18.0,396.90,6.19,33.2
150,2.73397,0.0,19.58,0,0.871,5.597,94.9,1.5257,5,403,14.7,351.85,21.45,15.4
200,0.03150,95.0,1.47,0,0.403,6.975,15.3,7.6534,3,402,17.0,396.90,4.56,34.9
250,0.19073,22.0,5.86,0,0.431,6.718,17.5,7.8265,7,330,19.1,393.74,6.56,26.2
300,0.05561,70.0,2.24,0,0.400,7.041,10.0,7.8278,5,358,14.8,371.58,4.74,29.0
350,0.02899,40.0,1.25,0,0.429,6.939,34.5,8.7921,1,335,19.7,389.85,5.89,26.6
400,9.91655,0.0,18.10,0,0.693,5.852,77.8,1.5004,24,666,20.2,338.16,29.97,6.3
450,7.52601,0.0,18.10,0,0.713,6.417,98.3,2.1850,24,666,20.2,304.21,19.31,13.0
500,0.17783,0.0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5

In [91]:
#Exercise34
#Import the boston housing dataset, but while importing change the 'medv' (median house value) column so that
#values < 25 becomes ‘Low’ and > 25 becomes ‘High’.
df = pd.read_csv("./data/pds1.txt")



df['medv'] = np.where(df['medv'] < 25, 'Low', 'High')

df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,Low
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,Low
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,Low
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,Low
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,Low

In [77]:
#Exercise35
#How to create a dataframe with rows as strides from a given series?
#나중에 풀기(어려움)

L = pd.Series(range(15))

L

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [79]:
#Exercise36
#Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

df = pd.read_csv("./data/pds1.txt")
df[['crim','medv']]

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

In [84]:
#Exercise37
#Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset.
#Also get the numpy array and list equivalent of the dataframe.

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print("행 개수:",df.shape[0])
print("열 개수:",df.shape[1])
print("데이터 타입:")
print(df.dtypes)
print("요약 정보:",df.describe())
df
print("numpy array:",df.values)
print("numpy array:",df.values.tolist())

행 개수: 93
열 개수: 27
데이터 타입:
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object
요약 정보:        Min.Price      Price  Max.Price   MPG.city  MPG.highway  EngineSize  \
count  86.000000  91.000000  88.000000  84.000000    91.000000   91.000000
mean   17.118605  19.616484  21.459091  22.404762    29.065934    2.658242
std     8.828290   9.724280  10.696563   5.841520     5.370293    1.045845
min     6.700000   7.400000   7.900000  15.000000    20.000000    1.000000
25%    10.825000  12.350000  14.575000  18.000000    26.000000    1.800000
50%    14.600000  17.700000  19.150000  21.000000    28.000000    2.300000
75%    20.250000  23.500000  24.825000  25.000000    31.000000    3.250000
max    45.400000  61.900000  80.000000  46.000000    50.000000    5.700000

       Horsepower          RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count   86.000000    90.000000     87.000000           85.000000   91.000000
mean   144.000000  5276.666667   2355.000000           16.683529    5.076923
std     53.455204   605.554811    486.916616            3.375748    1.045953
min     55.000000  3800.000000   1320.000000            9.200000    2.000000
25%    100.750000  4800.000000   2017.500000           14.500000    4.000000
50%    140.000000  5200.000000   2360.000000           16.500000    5.000000
75%    170.000000  5787.500000   2565.000000           19.000000    6.000000
max    300.000000  6500.000000   3755.000000           27.000000    8.000000

           Length   Wheelbase      Width  Turn.circle  Rear.seat.room  \
count   89.000000   92.000000  87.000000    88.000000       89.000000
mean   182.865169  103.956522  69.448276    38.954545       27.853933
std     14.792651    6.856317   3.778023     3.304157        3.018129
min    141.000000   90.000000  60.000000    32.000000       19.000000
25%    174.000000   98.000000  67.000000    36.000000       26.000000
50%    181.000000  103.000000  69.000000    39.000000       27.500000
75%    192.000000  110.000000  72.000000    42.000000       30.000000
max    219.000000  119.000000  78.000000    45.000000       36.000000

       Luggage.room       Weight
count     74.000000    86.000000
mean      13.986486  3104.593023
std        3.120824   600.129993
min        6.000000  1695.000000
25%       12.000000  2647.500000
50%       14.000000  3085.000000
75%       16.000000  3567.500000
max       22.000000  4105.000000
numpy array: [['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]

In [99]:
#Exercise38
#Which manufacturer, model and type has the highest Price? 
#What is the row and column number of the cell with the highest Price value?
# 시간 될 때 한번 더

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')


result_df = df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]



row, col = np.where(df.values == np.max(df.Price))

print(df)
df.values

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
1           NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi       90  Compact       25.9   29.1       32.3      20.0
3          Audi      100  Midsize        NaN   37.7       44.6      19.0
4           BMW     535i  Midsize        NaN   30.0        NaN      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van       16.6   19.7       22.7      17.0
89   Volkswagen   Passat  Compact       17.6   20.0       22.4      21.0
90   Volkswagen  Corrado   Sporty       22.9   23.3       23.7      18.0
91        Volvo      240  Compact       21.8   22.7       23.5      21.0
92          NaN      850  Midsize       24.8   26.7       28.5      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                None      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                None      Front  ...        7.0   187.0
89         30.0                None      Front  ...        5.0   180.0
90         25.0                None      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

array([['Acura', 'Integra', 'Small', ..., 2705.0, 'non-USA',
        'Acura Integra'],
       [nan, 'Legend', 'Midsize', ..., 3560.0, 'non-USA', 'Acura Legend'],
       ['Audi', '90', 'Compact', ..., 3375.0, 'non-USA', 'Audi 90'],
       ...,
       ['Volkswagen', 'Corrado', 'Sporty', ..., 2810.0, 'non-USA',
        'Volkswagen Corrado'],
       ['Volvo', '240', 'Compact', ..., 2985.0, 'non-USA', 'Volvo 240'],
       [nan, '850', 'Midsize', ..., 3245.0, 'non-USA', 'Volvo 850']],
      dtype=object)

In [107]:
#Exercise39
#Rename the column Type as CarType in df and replace the ‘.’ in column names with ‘_’.

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df = df.rename({'Type':'CarType'},axis='columns')

df.columns = df.columns.str.replace('.','_',regex=False)

df

,Manufacturer,Model,CarType,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [108]:
#Exercise40
#Check if df has any missing values.

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df.isnull().values.any()

True