In [2]:
import pandas as pd
import numpy as np

#Exercise11
#Bin the series ser into 10 equal deciles and replace the values with the bin name.
#나중에

In [22]:
#Exercise12
#Reshape the series ser into a dataframe with 7 rows and 5 columns
ser = pd.Series(np.random.randint(1, 10, 35))


ser_df = pd.DataFrame(ser.values.reshape(7,5))

ser_df

   0  1  2  3  4
0  8  5  7  9  3
1  9  2  3  2  8
2  6  1  7  2  4
3  2  4  2  3  2
4  9  1  9  2  3
5  9  9  8  1  1
6  9  3  3  2  9

In [48]:
#Exercise13
#Find the positions of numbers that are multiples of 3 from ser.
ser = pd.Series(np.random.randint(1, 10, 7))


ser_df = pd.DataFrame(ser,columns=['Value'])



print (ser_df.index[ser_df['Value']%3==0].tolist())
ser_df

[1, 5, 6]

   Value
0      1
1      3
2      8
3      1
4      4
5      6
6      3

In [9]:
#Exercise14
#From ser, extract the items at positions in list pos.
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]



for value in pos:
    print('position',value,':',ser.iloc[value])
    
ser.take(pos)
ser.iloc[pos]

position 0 : a
position 4 : e
position 8 : i
position 14 : o
position 20 : u

0     a
4     e
8     i
14    o
20    u
dtype: object

In [23]:
#Exercise15
#Stack ser1 and ser2 vertically and horizontally (to form a dataframe).
ser1 = pd.Series(range(5),name='value1')
ser2 = pd.Series(list('abcde'), name='value2')

h_df = pd.concat([ser1, ser2], axis=1)
v_df = pd.concat([ser1, ser2])

v_df.index = np.arange(len(v_df))



print(h_df)

print()

print(v_df)

   value1 value2
0       0      a
1       1      b
2       2      c
3       3      d
4       4      e

0    0
1    1
2    2
3    3
4    4
5    a
6    b
7    c
8    d
9    e
dtype: object

In [41]:
#Exercise16
#차후 다시 도전
#Get the positions of items of ser2 in ser1 as a list.
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# result_ser = ser1[~ser1.isin(ser2)]

# result = ser2.index[ser2.isin(ser1)].tolist()
# result


    
    


print(type(pd.Index(ser1)))
print(type(ser1.values))

<class 'pandas.core.indexes.numeric.Int64Index'>
<class 'numpy.ndarray'>

In [42]:
#Exercise17
#Compute the mean squared error of truth and pred series.

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)


difference_array = np.subtract(truth.values, pred.values)
squared_array = np.square(difference_array)
result = squared_array.mean()

result

0.46772200982008333

In [45]:
#Exercise18
#Change the first character of each word to upper case in each word of ser.

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

result = ser.map(lambda string: string.capitalize())

result

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [43]:
#Exercise19
#How to calculate the number of characters in each word in a series?

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

result = ser.map(lambda string: len(string))

result

0    3
1    2
2    4
3    4
dtype: int64

In [79]:
#Exercise20
#Difference of differences between the consequtive numbers of ser

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

#my solution
ser1 = ser.copy()
ser1.index = np.arange(1,len(ser1)+1)

result_ser = ser-ser1

ser2 = result_ser.copy()
ser2.index = np.arange(1,len(ser2)+1)

print(result_ser.drop(8).tolist())
print((result_ser-ser2).drop([8,9]).tolist())

#good solution
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]
[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]