In [2]:
import pandas as pd
import numpy as np
from dateutil.parser import parse

#Exercise21
#How to convert a series of date-strings to a timeseries.

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
result = pd.to_datetime(ser)
result

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [27]:
#Exercise22,23 생략
#How to get the day of month, week number, day of year and day of week from a series of date strings?

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
time_list = pd.to_datetime(ser)

print(time_list.dt.day.tolist())

for value in time_list:
    print(value.isocalendar()[1], end=' ')
    
for value in time_list:
    print(value.isocalendar()[0], end=' ')

[1, 2, 3, 4, 5, 6]
53 5 9 14 19 23 2009 2011 2012 2013 2014 2015

In [32]:
#Exercise24
#From ser, extract words that contain atleast 2 vowels.
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
vowel_list = ['a','e','i','o','u']


for i in range(ser.size):
    count=0
    for j in range(len(ser[i])):
        if ser[i][j].lower() in vowel_list:
            count+=1
        else:
            pass
    if count>=2:
        print(i, ser[i])
    else:
        pass

0 Apple
1 Orange
4 Money

In [34]:
#Exercise25
#Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference
import re

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

pat = re.compile(pattern)

for value in emails.values:
    mat = pat.match(value)
    if mat:
        print(mat.group())
    else:
        pass

rameses@egypt.com
matt@t.co
narendra@modi.com

In [51]:
#Exercise26
#Compute the mean of weights of each fruit.

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10),name='fruit')
weight = pd.Series(np.linspace(1, 10, 10),name = 'weight')
print(weight.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

df = pd.concat([fruit, weight], axis=1)
fruit_df = pd.DataFrame(df)

print(fruit_df)
fruit_df.groupby('fruit').mean()


# grouped_fruit_df = fruit_df.groupby('friut_list')

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['banana', 'banana', 'banana', 'carrot', 'carrot', 'carrot', 'carrot', 'banana', 'apple', 'apple']
    fruit  weight
0  banana     1.0
1  banana     2.0
2  banana     3.0
3  carrot     4.0
4  carrot     5.0
5  carrot     6.0
6  carrot     7.0
7  banana     8.0
8   apple     9.0
9   apple    10.0

        weight
fruit
apple      9.5
banana     3.5
carrot     5.5

In [29]:
#Exercise27
#Compute the euclidean distance between series (points) p and q, without using a packaged formula

import math

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])


result1=0
for value in p.values:
    result1+=value**2
    
result2=0
for value in q.values:
    result2+=value**2
    
    
result3 = 0

for x,y in zip(p,q):
    result3-=(2*x*y)
    


final_result = math.sqrt(result1+result2+result3)
final_result

print(sum((p-q)**2)**0.5)

18.16590212458495

In [32]:
#Exercise28
#Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

array = []

for i in range(1,ser.size-1):
    if ser[i]>ser[i-1] and ser[i]>ser[i+1]:
        array.append(i)
    else:
        pass
    
array

list

In [53]:
#Exercise29
# How to replace missing spaces in a string with the least frequent character?
# Replace the spaces in my_str with the least frequent character.

my_str = 'dbc deb abed gade'
df = pd.DataFrame({'string':list(my_str.replace(' ',''))})

dic = dict()

for letter in df['string'].unique():
    dic[letter] = my_str.count(letter)

replace_letter = ''
for key,value in dic.items():
    if value==min(dic.values()):
        replace_letter = key
        break

my_str.replace(' ',replace_letter)    

    
# 아래에 있는 방법이 더 효율적이다

# freq = ser.value_counts()
# print(freq)
# least_freq = freq.dropna().index[-1]
# "".join(ser.replace(' ', least_freq))

'dbccdebcabedcgade'

In [68]:
#Exercise30
#How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?


# values can be random

import datetime

ser_index = pd.date_range('2000-01-01', periods=10, freq='W-SAT')
ser_value = np.random.randint(low=1, high=10, size=10)


pds = pd.Series(ser_value,index=ser_index)
pds





# 2000-01-01    4
# 2000-01-08    1
# 2000-01-15    8
# 2000-01-22    4
# 2000-01-29    4
# 2000-02-05    2
# 2000-02-12    4
# 2000-02-19    9
# 2000-02-26    6
# 2000-03-04    6

2000-01-01    7
2000-01-08    3
2000-01-15    4
2000-01-22    6
2000-01-29    3
2000-02-05    1
2000-02-12    9
2000-02-19    3
2000-02-26    3
2000-03-04    6
Freq: W-SAT, dtype: int32