In [2]:
#Exercise1
import pandas as pd
pd.__version__

'1.1.3'

In [5]:
#Exercise2
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

list_pd = pd.Series(mylist)
arr_pd = pd.Series(myarr)
dict_pd = pd.Series(mydict)

print(list_pd,arr_pd,dict_pd)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32 a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [7]:
#Exercise3
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

print (pd.DataFrame(ser, columns=['A']))

    A
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25

In [12]:
#Exercise4
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

result = pd.concat([ser1,ser2],axis=1)
result_df = pd.DataFrame(result)

result_df.rename(columns={0:'ser1',1:'ser2'},inplace=True)

result_df

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

In [13]:
#Exercise5
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [18]:
#Exercise6
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

result_ser = ser1[~ser1.isin(ser2)]
result_ser.index = ["value1","value2","value3"]
result_ser.head()

value1    1
value2    2
value3    3
dtype: int64

In [30]:
#Exercise7
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

union = pd.Series(np.union1d(ser1, ser2))
intersect = pd.Series(np.intersect1d(ser1, ser2))
not_common_set = union[~union.isin(intersect)]

new_index = ['value{}'.format(i+1) for i in range(not_common_set.size)]
not_common_set.index = new_index

    
not_common_set

value1    1
value2    2
value3    3
value4    6
value5    7
value6    8
dtype: int64

In [31]:
#Exercise8
ser = pd.Series(np.random.normal(10, 5, 25))

ser_min = ser.min()
ser_25 = ser.quantile(q=0.25)
ser_median = ser.median()
ser_75 = ser.quantile(q=0.75)
ser_max = ser.max()

print(ser_min)
print(ser_25)
print(ser_median)
print(ser_75)
print(ser_max)

-0.5783204909124393
7.121685086279174
11.845714268264604
16.006645909026517
18.928090341956846

In [33]:
#Exercise9

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

result = ser.value_counts()
result

c    7
d    6
h    6
g    5
e    2
f    2
a    1
b    1
dtype: int64

In [37]:
#Exercise10
# 차후에 다시 풀어본다

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

result = ser.value_counts()[:2].sort_values(ascending=False)

print(ser)
print(result)

0     3
1     4
2     2
3     3
4     3
5     2
6     3
7     3
8     3
9     4
10    2
11    1
dtype: int32
3    6
2    3
dtype: int64