In [6]:
#Exercise11
import pandas as pd
import numpy as np
#나중에

In [22]:
#Exercise12
ser = pd.Series(np.random.randint(1, 10, 35))


ser_df = pd.DataFrame(ser.values.reshape(7,5))

ser_df

   0  1  2  3  4
0  8  5  7  9  3
1  9  2  3  2  8
2  6  1  7  2  4
3  2  4  2  3  2
4  9  1  9  2  3
5  9  9  8  1  1
6  9  3  3  2  9

In [48]:
#Exercise13
ser = pd.Series(np.random.randint(1, 10, 7))


ser_df = pd.DataFrame(ser,columns=['Value'])



print (ser_df.index[ser_df['Value']%3==0].tolist())
ser_df

[1, 5, 6]

   Value
0      1
1      3
2      8
3      1
4      4
5      6
6      3